<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Assign {$ assignDriverCtrl.assignmentFor $} to Booking Id:{$ assignDriverCtrl.bookingId $}</h4>
    </div>
    <div class="modal-body">
        <div ng-show="assignDriverCtrl.errorMsg" ng-bind-html="assignDriverCtrl.errorMsg" class="alert alert-danger"></div>
        <form name="assignDriverForm"  class="form-horizontal" role="form" method="post" >
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Select {$ assignDriverCtrl.assignmentFor $}:</label>
                <div class="col-sm-8">
                    <select
                            ng-model="assignDriverCtrl.selected_item"
                            ng-options="item as item.name for item in assignDriverCtrl.item_list track by item.id"
                            class="form-control  input-sm col-xs-10">
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="assignDriverCtrl.cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="assignDriverCtrl.ajax_loading||  assignDriverForm.$invalid " ng-click="assignDriverCtrl.ok()">Save changes</button>
    </div>
</div>