<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title text-center">
                    <h5 class="col-sm-offset-5"><b> Change Password</b></h5>
                </div>
                <div class="ibox-content">
                    <form id="ChangePasswordForm" class="form-horizontal" role="form" method="post">
                        <div ng-show="changePassCtrl.errorMsg" ng-bind-html="changePassCtrl.errorMsg" class="alert alert-danger"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">New Password</label>
                            <div class="col-sm-9">
                                <input ng-model="changePassCtrl.editedForm.password" type="password" class=" input-sm form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Confirm Password</label>
                            <div class="col-sm-9">
                                <input ng-model="changePassCtrl.editedForm.confirm_password" type="password" class=" input-sm form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-5">
                                <input type="submit" class="btn btn-primary" ng-disabled="changePassCtrl.ajax_loading" ng-click="changePassCtrl.changePassword()" ng-value="changePassCtrl.ajax_loading?'Please Wait..':'Save'">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







