<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Pickup Jobcar for Booking ID: <b>{$ editBookingCtrl.booking.id $}</b></h5>
                    <div class="ibox-tools">
                        <a class="btn btn-white btn-xs btn-bitbucket header-top-info-btn">
                            <i class="fa fa-user"></i>
                            {$ editBookingCtrl.user.name $}
                            <small>( {$ editBookingCtrl.user.phone $} - {$ editBookingCtrl.user.email $} )</small>
                        </a>
                        <a class="btn btn-white btn-xs btn-bitbucket header-top-info-btn">
                            <i class="fa fa-car"></i> Toyata Etios - Silver
                        </a>
                        <!--<button class="btn btn-xs btn-link" ui-sref="base.userCarExtraDetails({bookingId:editBookingCtrl.booking.id,userCarId:editBookingCtrl.booking.usercar})">Add Extra Details</button>-->
                    </div>
                    <div class="ibox-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
