<div class="row text-left">
    <div class="col-xs-12">
        <div class=" m-l-md">
            <table class="table table-hover margin bottom table-responsive">
                <thead>
                <tr>
                    <th >Status</th>
                    <th >Num. of Bookings</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in reportBookingStatusSummaryCtrl.bookingStatusdata">
                    <td >{$ item.status_desc $}</td>
                    <td ><span class="label label-primary">{$ item.num_of_bookings $}</span> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
