<div>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4 m-b-xs">
                    <div class="input-group text-left">
                        <input date-range-picker class="form-control date-picker input-sm "
                               type="text"
                               ng-model="scratchFindersCtrl.filters.date"
                               options="scratchFindersCtrl.date_range_options"/>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-4 m-b-xs text-center">
                    <h4>Rows: <b>{$ scratchFindersCtrl.gridOptions.api.rowModel.rowsToDisplay.length $}</b></h4>
                </div>
                <div class="col-sm-4 m-b-xs">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input
                                    type="text"
                                    placeholder="Quick Search"
                                    class="input-sm form-control"
                                    ng-model="scratchFindersCtrl.gridOptions.quickFilterText">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                        </span>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">
                        <input
                                id="removeInternalCheck"
                                type="checkbox"
                                ng-model="scratchFindersCtrl.extraFilters.removeInternal"
                                ng-change="scratchFindersCtrl.externalFilterChanged()">
                        <label for="removeInternalCheck">Remove Internal Accounts: </label>
                    </div>-->
                </div>
            </div>
            <div class="table-responsive">
                <div style="margin-top: 4px;" class="full-height">
                    <div ag-grid="scratchFindersCtrl.gridOptions" style="height:100%; width:100%;" class="ag-fresh"></div>
                </div>
            </div>
        </div>
    </div>
</div>