{% extends 'registration/base.html' %}

{% block container %}
    <div class="passwordBox text-center animated fadeInDown ng-scope">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Forgot password</h2>
                    <p>
                        Enter your phone number and your password will be reset and sent to you.
                    </p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" method="post" action="{% url 'forgot_password' %}">
                                {% csrf_token %}
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p class="alert alert-warning" role="alert">
                                                {{ error|escape }}
                                            </p>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <p class="alert alert-warning" role="alert">
                                            {{ error|escape }}
                                        </p>
                                    {% endfor %}
                                {% endif %}
                                <div class="form-group">
                                    <input name="username" type="number" class="form-control" placeholder="Your Phone Number" required="required">
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Send new password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                Unbox Technologies &copy;
            </div>
            <div class="col-md-6 text-right">
                <small>© 2015-2016</small>
            </div>
        </div>
    </div>
{% endblock %}
