{% extends 'package-desc/base.html' %}

{% block container %}
    <div class="img-web"><img src="https://unbox-bumper.s3.amazonaws.com/f72cb899-866c-4d35-a139-e1198fdfa3b9.png" class="img-fluid img" alt="advance-interior-cleaning" >
    </div>
    <div class="w-section details-section">
        <div class="w-container details-card ideafor">
            <div class="desc-text card-content">Ideal For</div>
            <p class="desc">Families with children, elderly people, people prone to dust allergies, smokers, asthmatics etc. </p>
        </div>
        <div class="w-container details-card frequency">
            <div class="desc-text card-content">Frequency</div>
            <p class="desc">Once in every 3 months</p>
        </div>
        <div class="w-container details-card availblity">
            <div class="desc-text card-content">Doorstep Service</div>
            <p class="desc">Yes</p>
        </div>
        <div class="w-container details-card treatment">
            <div class="desc-text card-content">Treatment Duration</div>
            <p class="desc">20 minutes.</p>
        </div>
        <div class="w-container details-card notes">
            <div class="desc-text card-content ">Important Notes</div>
            <div class="desc no-padding">
                    <ul>
                        <li>Customers are required to grant prior permissions to access their premises. </li>
                        <li>Premises are required to be well lit.</li>
                        <li>It is Preferred that the premises is a dust free zone.</li>
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}