{% extends 'package-desc/base.html' %}

{% block container %}
    <div class="img-web"><img src="https://unbox-bumper.s3.amazonaws.com/963aa3a1-e0f6-44ed-bc6f-fde9ac835861.png" class="img-fluid img" alt="advance-interior-cleaning" >
    </div>
    <div class="w-section details-section">
        <div class="w-container details-card what-it-does">
            <div class="desc-text card-content">What It Does</div>
            <p class="desc"> Removes stains from the seats, guarantees you a dust and germ free interiors.</p>
        </div>
        <div class="w-container details-card ideafor">
            <div class="desc-text card-content">Ideal For</div>
            <p class="desc">Families with children, smokers, asthmatics.</p>
        </div>
        <div class="w-container details-card frequency">
            <div class="desc-text card-content">Recommended Frequency</div>
            <p class="desc">Once in every 3 months </p>
        </div>
        <div class="w-container details-card availblity">
            <div class="desc-text card-content">Doorstep Service</div>
            <p class="desc">Yes</p>
        </div>
        <div class="w-container details-card treatment">
            <div class="desc-text card-content">Treatment Duration</div>
            <p class="desc">1 hour 30 minutes</p>
        </div>

        <div class="w-container details-card includes">
            <div class="desc-text card-content">Includes</div>
            <div class="desc no-padding"><ul><li>Seat cleaning </li>
                <li>Dashboard cleaning and polishing  </li>
                <li>Door trim scrubbing and polishing</li>
                <li>Roof cleaning</li>
                <li>Carpet cleaning</li>
                <li>Tyre polish</li>
                <li>Vacuuming</li>
            </ul>
            </div>
        </div>
        <div class="w-container details-card notes">
            <div class="desc-text card-content">Important Notes</div>
            <div class="desc no-padding">
                <ul>
                        <li>Customers are required to grant prior permissions to access to their premises.</li>
                        <li>Premises are required to be well lit.</li>
                        <li>It is Preferred that the premises are a dust free zone.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}