{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Your Car Companion!">
    <meta name="author" content="Bumper">
    <base href="/" />
    <title>Bumper</title>
    <!--bootstrap css-->
    <link href="{% static 'libs/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/package-detail.css' %}" rel="stylesheet">
</head>
<body>
<script src="{% static 'libs/js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/js/bootstrap/bootstrap.min.js' %}"></script>
{% block container %}
{% endblock %}
</body>
</html>