{% extends 'package-desc/base.html' %}

{% block container %}
    <div class="img-web"><img src="https://unbox-bumper.s3.amazonaws.com/240a467b-6196-4997-af20-2a7e8c642d68.png" class="img-fluid img" alt="advance-interior-cleaning" >
    </div>
    <div class="w-section details-section">
        <div class="w-container details-card frequency">
            <div class="desc-text card-content">Recommended Frequency</div>
            <p class="desc"> Twice a week</p>
        </div>
        <div class="w-container details-card availblity">
            <div class="desc-text card-content">Doorstep Service</div>
            <p class="desc">Yes</p>
        </div>
        <div class="w-container details-card treatment">
            <div class="desc-text card-content">Treatment Duration</div>
            <p class="desc">45 minutes.</p>
        </div>
        <div class="w-container details-card includes">
            <div class="card-content"><div class="desc-text">Includes</div>
                <div class="desc no-padding">
                    <ul><li>Dry wash</li>
                        <li>Interior Vacuuming</li>
                        <li>Dashboard polish</li>
                        <li>Tyre polish</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-container details-card notes">
            <div class="desc-text card-content ">Important Notes</div>
            <div class="desc no-padding">
                <ul>
                    <li>Customers are required to grant prior permissions to access their premises.</li>
                    <li>Premises are required to be well lit. </li>
                    <li>It is Preferred that the premises is a dust free zone.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}