{% extends 'package-desc/base.html' %}

{% block container %}
    <div class="img-web">
        <img src="https://unbox-bumper.s3.amazonaws.com/ec900804-52c8-46ac-bb73-7410c693a066.png" class="img-fluid img" alt="full body paint image" >
    </div>
    <div class="w-section details-section">
        <div class="w-container details-card what-it-does">
            <div class="desc-text card-content">What it does</div>
            <div class="desc no-padding">
                <div class="container">
                    <p>Remove Scratches - All scratches are removed and the whole panel is painted.</p>
                    <ul>
                        <li class="list-padding">Any number of scratches - same price.</li>
                        <li class="list-padding">Big scratch, small scratch - same price.</li>
                    </ul>
                    <p>Remove Dents and Scratches - All dents and scratches are removed and the whole panel is painted.</p>
                    <ul>
                        <li class="list-padding">Any number of dents and scratches - same price.</li>
                        <li class="list-padding">Big dent, small dent - same price.</li>
                    </ul>
                    <p>Panel / part Replacement – Genuine panels and parts are procured from authorized sellers and charged at MRP. It further includes fitting and painting of the new panel.</p>
                    <ul>
                        <li class="list-padding">Pricing for panel replacement - Labour + Material charges + Panel MRP. </li>
                        <li class="list-padding">Pricing for part replacement – Fitting charges + Part MRP. </li>
                    </ul>
                    <p>List of panels - Bumpers, Bonnet, All doors, Fenders, Quarter panels, Running boards, Trunk.</p>
                    <p>List of parts - Headlights, Tail lights, Fog lights, Windshield, Monogram, Indicators, Side view mirror, Grill etc.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}