{% extends 'package-desc/base.html' %}

{% block container %}
    <div class="img-web"><img src="https://unbox-bumper.s3.amazonaws.com/a3e2b32d-3f1c-4c33-90d9-353aa6672c09.png" class="img-fluid img" alt="full body paint image" >
    </div>
    <div class="w-section details-section">
        <div class="w-container details-card what-it-does">
            <div class="desc-text card-content">What it does</div>
            <p class="desc">It involves repainting of all the panels of your car except the roof. All the dents and scratches are
                also removed from your car. All panels - bumpers, bonnet, all doors, fenders, quarter panels, running
                boards, and trunk but the roof are repainted with OEM colour paint.<br>
                It has 1 year paint warranty against fading/ peeling/ bubble creation. </p>
        </div>
        <div class="w-container details-card includes">
            <div class="desc-text card-content">Included in the package</div>
            <div class="desc no-padding">
                Repainting of all the Panels and Parts:
                <ul>
                    <li>Bumpers – front & rear</li>
                    <li>Bonnet</li>
                    <li>All doors – front right & left, rear right & left</li>
                    <li>Fenders – right & left</li>
                    <li>Quarter panels – right & left</li>
                    <li>Running boards – right & left</li>
                    <li>Trunk</li>
                    <li>Petrol cap and if applicable - side view mirror, door handles, upper and lower grill</li>
                </ul>
            </div>
        </div>
        <div class="w-container details-card includes">
            <div class="desc-text card-content">Not included in the package</div>
            <div class="desc no-padding">
                <ul>
                    <li>Cost of procuring the new panels / parts is not included. It is charged over and above the
                        package cost. However, labour charges for replacement are part of the package</li>
                </ul>
            </div>
        </div>
        <div class="w-container details-card includes">
            <div class="desc-text card-content">Things you should know</div>
            <div class="desc no-padding">
                <ul>
                    <li>Initial timelines may vary in case if some part that needs to be replaced has a long
                        procurement cycle. </li>
                    <li>In the following cases, extra charges + time may apply after inspection: </li>
                    <ul>
                        <li>Severe damages cases, such as tear, crumpled panel etc. </li>
                        <li>Excessive previous painting work of poor quality. </li>
                    </ul>
                    <li>Advance payment might be needed in case of part procurement.</li>
                    <li>Following parts need to be removed at the time of painting. In case, they cannot be fitted back, they will have to be replaced with new ones:</li>
                    <ul>
                        <li>Monograms – alignment issue if all letters of logo are separate.</li>
                        <li>Door and Window Beadings - if in bad shape or very old.</li>
                        <li>Bumper beadings</li>
                    </ul>
                </ul>
                <p class="desc">We will let you know of these things after the inspection of the car in the workshop and wait for your approval. We will not start work without your approval. </p>
            </div>
        </div>
    </div>
{% endblock %}