{% extends 'package-desc/base.html' %}

{% block container %}
    <div class="img-web"><img src="https://unbox-bumper.s3.amazonaws.com/f61cfdbd-9eb6-45bf-afef-1a2178a4f364.png" class="img-fluid img" alt="full body paint image" >
    </div>
    <div class="w-section details-section">
        <div class="w-container details-card what-it-does">
            <div class="desc-text card-content">What it does</div>
            <p class="desc">It involves repainting of all panels of your car. All dents and scratches are also removed from your
                car. Each and every part of the car where OEM colour paint was applied will be repainted with the
                new colour including inside sections of door, bonnet etc. Engine compartment is not painted.
                It has 1 year paint warranty against fading/ peeling/ bubble creation.</p>
        </div>
        <div class="w-container details-card includes">
            <div class="desc-text card-content">Included in the package</div>
            <div class="desc no-padding">
                <ul>
                    <li>Each and every part of the car where OEM colour paint was applied will be repainted with the new
                        colour including inside sections of door, bonnet etc.</li>
                    <li>If applicable - side view mirror, door handles, upper and lower grill.</li>
                    <li>1 year paint warranty against fading/ peeling/ bubble creation. However, this warranty does not
                        hold for any physical damage, accident, use of poor quality material for cleaning or watermarks.</li>
                </ul>
            </div>
        </div>
        <div class="w-container details-card includes">
            <div class="desc-text card-content">Not included in the package</div>
            <div class="desc no-padding">
                <ul>
                    <li>Cost of procuring the new parts is not included. It is charged over and above the package
                        cost. However, labour charges for replacement are part of the package.</li>
                </ul>
            </div>
        </div>
        <div class="w-container details-card includes">
            <div class="desc-text card-content">Things you should know</div>
            <div class="desc no-padding">
                <ul>
                    <li>We will need a letter of authorisation from customer for the change of car colour.</li>
                    <li>Customer is responsible for getting his RC updated. </li>
                    <li>Initial timelines may vary in case some part that needs to be changed has a long procurement cycle. </li>
                    <li>In following cases, extra charges + time may apply after inspection: </li>
                    <ul>
                        <li>Severe damages cases, such as tear, crumpled panel etc. </li>
                        <li>Excessive previous painting work of poor quality. </li>
                    </ul>
                    <li>Advance payment might be needed in case of part procurement.</li>
                    <li>Following parts need to be removed at the time of painting. In case, they cannot be fitted
                        back, they will have to be replaced with the new ones:</li>
                    <ul>
                        <li>Monograms – alignment issue if all letters of logo are separate.</li>
                        <li>Door and Window Beadings - if in bad shape or very old.</li>
                        <li>Bumper beadings.</li>
                    </ul>
                </ul>
                <p class="desc">We will let you know of these things after the inspection of the car in the workshop and wait for
                    your approval. We will not start work without your approval. </p>
            </div>
        </div>
    </div>
{% endblock %}