<table width="600px;" style="box-shadow:0px 0px 5px #BDBDBD; border:1px solid #EAEAEA" bgcolor="#f4f4f4" align="center"
       border="0" cellpadding="0" cellspacing="0" xmlns="http://www.w3.org/1999/html">
    <tbody>
    <tr style="display:block">
        <td align="center" style="display:block">
            <a href="http://www.bumper.com" target="_blank"><img src="https://unbox-bumper-static.s3.amazonaws.com/bc5b1721-d830-4f4e-a1cd-5eba33ef1233.png" width="30%"></a>
        </td>
    </tr>
    <tr bgcolor="#f4f4f4" style="display:block;" align="center">
        <td style="display:block; text-align:justify; color:#000; line-height:1.5em;font-size:1em; font-family: 'Ubuntu', sans-serif; width:680px" align="center">
            <div style="background:#fff;padding:40px; pading-top:10px;">
                <p style="font-family:Ubuntu; font-size:16px;">Hi <span>{{ customer_name }}</span>,</p>
                <p style="font-family:Ubuntu; font-size:16px;">Thank you for creating booking with us. Here is an update for you.</p>
                <p style="font-family:Ubuntu; font-size:16px;">Our prices have been revised from 22nd October 2016. Do not worry though, we would offer the same prices for all pick up scheduled on or before 31st October 2016. We would offer old pricing on any additional work added later as well on this booking.</p>
                <p style="font-family:Ubuntu; font-size:16px;">For any inquiries and concerns regarding your booking and our services, please call our helpline number +91-9108446586. </p>
                <p style="font-family:Ubuntu; font-size:16px;">Thank you for your continuing support. Look forward to make your car beautiful!</p>
                <p style="font-family:Ubuntu; font-size:16px; padding-bottom:20px;">Thanks<br>Team Bumper
                    <br><a href="http://www.bumper.com">
                        <img src="https://unbox-bumper-static.s3.amazonaws.com/bc5b1721-d830-4f4e-a1cd-5eba33ef1233.png" style="width:133px;">
                    </a></p>
                <p style="text-align:center;padding-top:20px;">
                    <a href="http://bit.ly/hitbumper" target="_blank"><img src="https://unbox-bumper-static.s3.amazonaws.com/ce36e4cf-c000-4780-9d43-2cc8828f41cf.png" style="width:130px;height:48px; padding:0px 10px 0px 10px"></a>
                    <a href="https://itunes.apple.com/in/app/bumper-car-body-repair-wash/id1134862260?mt=8/?utm_source=mailers&utm_medium=unknown&utm_campaign=unknown" target="_blank">
                        <img src="https://unbox-bumper-static.s3.amazonaws.com/3d8ca30b-9f75-45ac-8162-d0f03403d00f.png" style="width:130px;height:48px; padding:0px 10px 0px 10px">
                    </a>
                </p>
                <p style="text-align:center;">
                    <a href="www.facebook.com/HitBumper" target="_blank"><img src="http://mailer.ninjacrm.net/bumper-email-verification/img/fb.png" style="width:28px;height:28px; padding:0px 5px 0px 5px"></a>
                    <a href="www.twitter.com/HitBumper" target="_blank"><img src="http://mailer.ninjacrm.net/bumper-email-verification/img/tt.png" style="width:28px;height:28px; padding:0px 5px 0px 5px"></a>
                    <a href=" https://goo.gl/Sv9Drb" target="_blank"><img src="http://mailer.ninjacrm.net/bumper-email-verification/img/li.png" style="width:28px;height:28px; padding:0px 5px 0px 5px"></a></p>
            </div><br>
        </td>
    </tr>
    </tbody>
</table>