{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bumper Payment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'libs/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/css/bootstrap/bootstrap-theme.min.css' %}">
    <link href="{% static 'css/bumper/bump.css'%}" rel="stylesheet">
    <!-- font api-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
{% block container %}{% endblock %}
</html>
