<section ng-show="!cartCtrl.showHelp">
    <!-- <a href="#"  ng-click="cartCtrl.showHelp=true" class="help-button" analytics-on analytics-event="Chat button Click (Mobile Only)" analytics-category="Cart Page"> <i class="material-icons" style="opacity:1">help_outline</i></a>
     --><div class="container cart-container">
    <div class="tracker hide-in-mob">
        <div layout="row">
            <div flex>
                <div layout="column">
                    <div style="margin-left:20px ">
                        <div flex>
                            <span ng-class="{'circle-empty':base.progress==0,'circle-filled':base.progress>0}" style="margin-left: 20px"></span>
                            <span ng-class="{'connector-empty':base.progress==0,'connector':base.progress>0}"></span>
                            <span ng-class="{'circle-empty':base.progress<=1,'circle-filled':base.progress>1}"></span>
                            <span ng-class="{'connector-empty':base.progress<=1,'connector':base.progress>1}"></span>
                            <span ng-class="{'circle-empty':base.progress<=3,'circle-filled':base.progress>3}"></span>
                            <span ng-class="{'connector-empty':base.progress<=3,'connector':base.progress>3}"></span>
                            <span ng-class="{'circle-empty':base.progress<=4,'circle-filled':base.progress>4}"></span>
                            <span ng-class="{'connector-empty':base.progress<=4,'connector':base.progress>4}" class=" hide-in-mob"></span>
                            <span ng-class="{'circle-empty':base.progress<=4,'circle-filled':base.progress>4}" class="hide-in-mob"></span>
                        </div>
                    </div>
                    <div flex>
                        <div layout="row">
                            <div flex ng-class="{'tracker-text':base.progress==0,'tracker-text-completed':base.progress>0}">Search Car</div>
                            <div flex ng-class="{'tracker-text':base.progress<=1,'tracker-text-completed':base.progress>1}">Select Work</div>
                            <div flex ng-class="{'tracker-text':base.progress<=2,'tracker-text-completed':base.progress>2}">Confirm Booking</div>
                            <div flex ng-class="{'tracker-text':base.progress<=3,'tracker-text-completed':base.progress>3}">Add Pickup details</div>
                            <div flex ng-class="{'tracker-text':base.progress<=4,'tracker-text-completed':base.progress>4}" class="hide-in-mob">Free Pickup & Drop</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-class" ng-if="cartCtrl.selectedPackageList.length==0">
        <h1 class="text-center" style="padding: 30px">
            Your cart is empty. <a href="#" ui-sref="base.package" style="text-decoration:none">Add packages</a> to the cart <span ng-if="!base.currentUser">or <a href="#" ng-click="base.showUserPopup()" style="text-decoration:none">Login</a></span>
        </h1>
    </div>
    <div class="row" ng-show="cartCtrl.selectedPackageList.length>0">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <h1 class="bm-title-text-large margin-top-cart">CART ({$ cartCtrl.selectedPackageList.length $} PACKAGES)</h1>
        </div>
        <div class="col-lg-3  col-md-4 col-sm-6 col-xs-6 pull-right ">
            <div class="bm-title-text-small margin-top-cart">
                    <span class="pull-right margin" style="padding-right: 15px;">
                        <img src="img/car.svg" height="25px" style="margin-right: 4px;padding-bottom:6px;" alt="car-icon">
                        {$ cartCtrl.selectedCarModel.brand.name $} {$" "$}{$ cartCtrl.selectedCarModel.name $}
                    </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="cart-card" ng-show="cartCtrl.selectedPackageList.length>0">
                <div ng-repeat="package in cartCtrl.selectedPackageList">
                    <div class="row no-margin" >
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <div class="image-container">
                                <img ng-src="{$package.package.photo$}" class="package-image" alt="package image" alt="{$ package.package.name $}">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
                            <h1 class="package-heading">
                                {$ package.package.name $}
                            </h1>
                            <h2 class="row" ng-if="package.package.category==3">
                                <div class="col-xs-12 package-info">
                                    All scratches and Dents will be removed as part of this package.
                                </div>
                            </h2>
                            <a analytics-on
                               analytics-event="Edit Button Click"
                               analytics-category="Cart Page" analytics-label="{$ package.package.name $}"
                               class="cart-edit" ui-sref="base.estimator" ng-if="package.package.category==2" >EDIT</a>

                            <a class="cart-remove" href="#"
                               analytics-on analytics-event="Remove Button Click"
                               analytics-category="Cart Page" analytics-label="{$ package.package.name $}"
                               ng-click="base.removePackage(package.id)">REMOVE
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="package-price pull-right" ng-if="package.package.category!=2 && package.price>0">&#8377; {$ package.price| number:0 $}</div>
                            <div class="package-price pull-right" ng-if="package.package.category!=2 && package.price==0">Part MRP*</div>
                            <div class="package-price pull-right" ng-if="package.package.category==2 && cartCtrl.dentingCartValue>0">&#8377; {$ cartCtrl.dentingCartValue| number:0 $}<span ng-if="cartCtrl.replaceSelected">*</span></div>
                            <div class="package-price pull-right" ng-if="package.package.category==2 && cartCtrl.dentingCartValue==0">Part MRP*</div>
                        </div>
                    </div>
                    <div class="panels-cart panels" ng-if="package.package.category==2">
                        <div ng-repeat="panel in cartCtrl.selectedPanelList">
                            <div class="row no-margin bm-border">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="panel-heading-text">
                                        {$ panel.panel_name $} - <span class="type-of-work-cart">{$ panel.panel_price.type_of_work $}</span>
                                    </div>
                                    <div>
                                        <md-button
                                                md-no-ink class="button-no-ink-remove "
                                                analytics-on analytics-event="Remove Panel Button Click"
                                                analytics-category="Cart Page"
                                                analytics-label="{$ panel.panel_name $}"
                                                ng-click="base.removePanel(panel.panel_name)" >Remove</md-button>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 pull-right">
                                    <span class="pull-right price-of-panel-cart" ><span ng-bind-html="panel.panel_price.new_price_text|html"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr  class="horizontal-line no-margin" ng-if="!$last">
                </div>
            </div>
            <div>
                <div class="row" id="know">
                    <div class="col-xs-12" >
                        <div class="know-more-header" style="display: block">
                            Know More
                        </div>
                    </div>
                </div>
                <div class="row know-more-question" ng-click="knowMore1=!knowMore1;"  ng-init="knowMore1=false"
                     analytics-on analytics-event="FAQ Expansion Button Click"
                     analytics-category="BODE"
                     analytic-label=" What is included in the pricing">
                    <div class="col-xs-10">Included in Pricing</div>
                    <div class="col-xs-2">
                    <span style="display: inline-block;float: right;">
                         <i class="material-icons" ng-if="!knowMore1" style="font-size: 16px">keyboard_arrow_down</i>
                        <i class="material-icons" ng-if="knowMore1" style="font-size: 16px">keyboard_arrow_up</i>
                    </span>
                    </div>
                </div>
                <div class="know-more-answer" ng-show="knowMore1">
                    <p>1. Pick up & drop is absolutely free anywhere within city limits.</p>
                    <p>2. Part Price will depend on the year and model of the car as mentioned in the RC Book. If the year of make and the model you selected doesn't match with RC book then we will change the price after your approval for the same</p>
                </div>
                <div class="row know-more-question" ng-click="knowMore2=!knowMore2;"  ng-init="knowMore2=false"
                     analytics-on analytics-event="FAQ Expansion Button Click"
                     analytics-category="BODE"
                     analytic-label=" Is the amount quoted by online estimator (BODE) final or can it change?">
                    <div class="col-xs-10">
                        Insurance Claim Process
                    </div>
                    <div class="col-xs-2">
                    <span style="display: inline-block;float: right;">
                         <i class="material-icons" ng-if="!knowMore2" style="font-size: 16px">keyboard_arrow_down</i>
                        <i class="material-icons" ng-if="knowMore2" style="font-size: 16px">keyboard_arrow_up</i>
                    </span>
                    </div>
                </div>
                <div class="know-more-answer" ng-show="knowMore2">
                    <p> Our workshops are recognized by all the major insurance company, so claiming insurance is easy as it comes. As of now, we provide cashless insurance with Iffco Tokio and Future Generali. For other insurers we provide cash claims.</p>
                    <p>Here is process - </p>
                    <p>1. Our team would call to collect the insurance details.</p>
                    <p>2. We would coordinate with the insurance inspector and schedule the inspection at our workshop.</p>
                    <p>3. Once approved by the insurance company (full or partial), we will call you to get your approval.</p>
                    <p>4. Only when you approve it, we will start any work on your car.</p>
                    <p>5. If any internal damage is identified we would call the inspector to take necessary approvals.</p>
                    <p>6. You will be kept in the loop during the entire process.</p>
                    <p>7. If cashless claim, we will send you the invoice with the amount to be paid.</p>
                    <p>8. If cash claim, we will send the invoice with the full amount to be paid by you. You can get the claimed amount from the insurance company.</p>


                </div>
                <div class="row know-more-question" ng-click="knowMore3=!knowMore3;"  ng-init="knowMore3=false"
                     analytics-on analytics-event="FAQ Expansion Button Click"
                     analytics-category="BODE"
                     analytic-label="what’s the difference between a scratch and a dent?">
                    <div class="col-xs-10">
                        Days to Delivery
                    </div>
                    <div class="col-xs-2">
                    <span style="display: inline-block;float: right;">
                         <i class="material-icons" ng-if="!knowMore3" style="font-size: 16px">keyboard_arrow_down</i>
                        <i class="material-icons" ng-if="knowMore3" style="font-size: 16px">keyboard_arrow_up</i>
                    </span>
                    </div>
                </div>
                <div class="know-more-answer" ng-show="knowMore3">
                    <p> We understand that your car is an integral part of your life,  so we do our best to deliver the car back to you at the earliest. We never compromise on quality. Hence, we don't commit to any delivery date until we inspect the car thoroughly at the workshop. We have created our own benchmarks for quality. Only on passing these checks would the car be cleared for delivery. </p>
                    <br>For instance -
                    <ul>
                        <li>Repairs or Replacement of 1 to 3 Panels will take around 3 Days.</li>
                        <li>Repairs or Replacement of 4 to 6 Panels will take around 5 Days.</li>
                        <li>Repairs or Replacement of 7 to 8 Panels will take around 6 days to a week.</li>
                        <li>Full Body Paint will require a maximum of 10 Days.</li>
                    </ul>
                    <p>Please note that actual delivery date is purely based on the condition of your car and the number of jobs that need to carried out.</p>

                </div>
                <div class="row know-more-question" ng-click="knowMore4=!knowMore4;"  ng-init="knowMore4=false"
                     analytics-on analytics-event="FAQ Expansion Button Click"
                     analytics-category="BODE"
                     analytic-label=" What is the estimated delivery date?">
                    <div class="col-xs-10">
                        Pick and Drop is Absolutely Free
                    </div>
                    <div class="col-xs-2">
                    <span style="display: inline-block;float: right;">
                         <i class="material-icons" ng-if="!knowMore4" style="font-size: 16px;margin-left: 20px">keyboard_arrow_down</i>
                        <i class="material-icons" ng-if="knowMore4" style="font-size: 16px;margin-left: 20px">keyboard_arrow_up</i>
                    </span>
                    </div>
                </div>
                <div class="know-more-answer animate-show" ng-show="knowMore4">
                    <p> Yes, pick up & drop is free. Quick & easy.
                        When you book our service we take care of everything from picking up the car and dropping it back.
                        And don’t worry, Our drivers are well trained to drive any car in heavy traffic and tough weather conditions.
                        Once the driver has picked up the car, its Bumper's responsibility then onwards till we hand over the keys back to you after the work.</p>
                </div>
                <div class="row know-more-question" ng-click="knowMore5=!knowMore5;"  ng-init="knowMore5=false"
                     analytics-on analytics-event="FAQ Expansion Button Click"
                     analytics-category="BODE"
                     analytic-label="Is Pick Up & Drop Free?">
                    <div class="col-xs-10">
                        Not able to find damage
                    </div>
                    <div class="col-xs-2">
                    <span style="display: inline-block;float: right;">
                         <i class="material-icons" ng-if="!knowMore5" style="font-size: 16px;margin-left: 20px">keyboard_arrow_down</i>
                        <i class="material-icons" ng-if="knowMore5" style="font-size: 16px;margin-left: 20px">keyboard_arrow_up</i>
                    </span>
                    </div>
                </div>
                <div class="know-more-answer animate-show" ng-show="knowMore5">
                    <p>Call us at  +91 9108446586</p>
                    <p>Email us at support@bumper.com </p>
                    <p><a ui-sref="base.contactUs">Request a call back </a></p>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a ui-sref="base.contact" target="_blank" class="faq"
                           analytics-on analytics-event="See Frequently Asked Question button click"
                           analytics-category="BODE">See Frequently Asked Questions</a>
                    </div>
                </div>
            </div>
            <!--   <div class="see-packages">
                   <div class="row ">
                       <div class="heading-small">
                           You may also like
                       </div>
                   </div>
                   <div class="row" ng-init="limit=3">
                       <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" ng-repeat="item in cartCtrl.carPackages | limitTo : limit">
                           <div class="options-container ">
                               <div>
                                   <img ng-src="{$item.package.photo$}" alt="package_image" class="options-image-container">
                               </div>
                               <hr class="horizontal-line ">
                               <div class="heading-text-option-cart">
                                   {$item.package.name$}
                               </div>
                               <div class="heading-text-option-small-cart margin18" >
                                   Availability at doorstep - <span ng-if="item.package.is_doorstep">Yes</span>
                                   <span ng-if="!item.package.is_doorstep">No</span>
                               </div>
                               <div class="text-desc">
                                   {$item.package.desc| limitTo: 70$}{$"..."$}
                               </div>
                               <div class="row">
                                   <div class="col-xs-6 ">
                                       <p class="option-price-text">&#8377; {$item.price|number:0$}</p>
                                   </div>
                                   <div class="col-xs-6">
                                       <md-button md-no-ink class="md-primary no-margin option-button pull-right" ng-click="base.addPackage(item)" ng-if="item.package.category!=2"
                                                  analytics-on analytics-event="Add to Cart click"
                                                  analytics-category="You might also like"
                                                  analytics-label="{$item.package.name$}">ADD TO CART</md-button>
                                       <md-button md-no-ink class="md-primary no-margin option-button pull-right" ui-sref="base.estimator" ng-if="item.package.category==2"
                                                  analytics-on analytics-event="Add to Cart click"
                                                  analytics-category="You might also like"
                                                  analytics-label="{$item.package.name$}">ADD TO CART</md-button>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row" style="margin-bottom: 20px">
                       <div layout="center center">
                           <md-button
                                   md-no-ink class=" see-all-button"
                                   analytics-on analytics-event="Click" analytics-category="Cart Page" analytics-label="See All Button"
                                   ng-show="limit!=10"
                                   ng-click="limit=10">
                               SEE ALL
                           </md-button>
                           <md-button
                                   md-no-ink class=" see-all-button"
                                   analytics-on analytics-event="Click" analytics-category="Cart Page" analytics-label="See Less Button"
                                   ng-show="limit!=3"
                                   ng-click="limit=3">
                               SEE LESS
                           </md-button>
                       </div>
                   </div>
               </div> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="total-price-cart-box" ng-show="cartCtrl.selectedPackageList.length>0">
                <div class="row">
                    <div class="col-xs-6 ">
                        <div class="cart-price-text">
                            <span>Total Price </span>
                        </div>
                    </div>
                    <div class="col-xs-6 ">
                        <span class="pull-right cart-price" ng-if="cartCtrl.cartValue>0"><span class="price-text-mobile">Amount- </span> &#8377; {$ cartCtrl.cartValue| number:0$}<span ng-if="cartCtrl.replaceSelected">*</span></span>
                        <span class="pull-right cart-price" ng-if="cartCtrl.cartValue==0"><span class="price-text-mobile">Amount- </span> Part MRP*</span>
                    </div>
                    <div class="col-xs-12" ng-init="data.showinfo = false">
                        <div class="savings-back" ng-if="cartCtrl.totalSaving>0" ng-click="data.showinfo=!data.showinfo;"
                             analytics-on analytics-event="Saving Details Clicked(Mobile)"
                             analytics-category="CART" >You saved!<i class="material-icons" style="float: right; font-size: 18px ;opacity: 0.7;color: #535353; margin-left: 6px; margin-top:1px">info_outline</i>
                            <span style="float:right">&#8377;{$cartCtrl.totalSaving | number:0$}</span>
                        </div>
                        <div class="info-savings" ng-show="data.showinfo">Your savings are &#8377; {$cartCtrl.totalSaving |number:0$} in the booking. We calculate it against the authorized dealer price.<br><br>Dealer price - Bumper price = Your savings.</div>
                    </div>
                    <div class="col-xs-12 ">
                        <md-button
                                class="md-raised md-primary  schedule-button"
                                analytics-on analytics-event="Click" analytics-category="Cart Page" analytics-label="Proceed To Schedule Button"
                                ng-click="cartCtrl.prepareForScheduling()">
                            ADD PICKUP DETAILS
                        </md-button>
                        <p  style="display: flex;font-size:14px"><i class="material-icons" style="font-size:13px; color:#7ed321;padding:3px;opacity:1 !important">check_circle</i> <span style="opacity: 0.6;margin-left:5px">Painting charges are included in price.</span></p>
                        <p  style="display: flex;font-size:14px"><i class="material-icons" style="font-size:13px; color:#7ed321;padding:3px;">check_circle</i> <span style="opacity: 0.6;margin-left:5px">Pickup & drop is absolutely free.</span></p>
                        <p style="opacity: 0.6">* Part cost , labour charges and material cost may be extra if not already added.</p>
                    </div>
                </div>
            </div>
            <div class="see-packages">
                <div class="row ">
                    <div class="heading-small">
                        ADD COMMENTS
                        <md-input-container class="md-block" style="margin-right:15px; margin-top: 30px">
                            <textarea  ng-model="cartCtrl.comments"  ng-blur="cartCtrl.updateComments()" rows="10" md-select-on-focus placeholder="Leave comments for Bumper team"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  <div class="row">
          <div  layout="center center">
              <a  class=" see-all-button-mobile"
                  analytics-on analytics-event="Click"
                  analytics-category="Cart Page" analytics-label="See All Packages Button"
                  ui-sref="base.package"> SEE ALL PACKAGES</a>
          </div>
      </div> -->
</div>
</section>
<section class="inquiry-section" ng-show="cartCtrl.showHelp">
    <div class="container">
        <div class="row" style="margin-top: 30px">
            <div class="col-xs-6 help-header">Help</div>
            <div class="col-xs-6"><a  href="#" ng-click="cartCtrl.showHelp=false">
                <i class="material-icons pull-right" style="color: #3d3d3d">close</i></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 help-question-heading"> Have any Question?</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <md-input-container class="md-block md-accent" style="margin-top: 50px">
                    <textarea  ng-model="cartCtrl.comments" ng-change="cartCtrl.error=null"  rows="10" md-select-on-focus placeholder="Send us your queries"></textarea>
                    <div class="reason-empty-error">{$cartCtrl.error$}</div>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10"></div>
            <div class="col-xs-2">
                <md-button
                        ng-click="cartCtrl.userInquiry(cartCtrl.comments)"
                        analytics-on analytics-event="Click" analytics-category="CART" analytics-label="user inquiry submit clicked"
                        class="md-raised md-primary  pull-right">
                    SUBMIT
                </md-button>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-xs-12">
                <span>or</span> <a href="#" class="request-call-text"
                                   ng-click="cartCtrl.userInquiry(1)"
                                   analytics-on analytics-event="Click"
                                   analytics-category="CART"
                                   analytics-label="Request a call back">
                Request callback
            </a>
            </div>
        </div>
        <div>
            <div class="row" id="know">
                <div class="col-xs-12" >
                    <div class="know-more-header" style="display: block">
                        Know More
                    </div>
                </div>
            </div>
            <div class="row know-more-question" ng-click="knowMore1=!knowMore1;"  ng-init="knowMore1=false"
                 analytics-on analytics-event="FAQ Expansion Button Click"
                 analytics-category="BODE"
                 analytic-label=" What is included in the pricing">
                <div class="col-xs-10">Included in Pricing</div>
                <div class="col-xs-2">
                    <span style="display: inline-block;float: right;">
                         <i class="material-icons" ng-if="!knowMore1" style="font-size: 16px">keyboard_arrow_down</i>
                        <i class="material-icons" ng-if="knowMore1" style="font-size: 16px">keyboard_arrow_up</i>
                    </span>
                </div>
            </div>
            <div class="know-more-answer" ng-show="knowMore1">
                <p>1. Pick up & drop is absolutely free anywhere within city limits.</p>
                <p>2. Part Price will depend on the year and model of the car as mentioned in the RC Book. If the year of make and the model you selected doesn't match with RC book then we will change the price after your approval for the same</p>
            </div>
            <div class="row know-more-question" ng-click="knowMore2=!knowMore2;"  ng-init="knowMore2=false"
                 analytics-on analytics-event="FAQ Expansion Button Click"
                 analytics-category="BODE"
                 analytic-label=" Is the amount quoted by online estimator (BODE) final or can it change?">
                <div class="col-xs-10">
                    Insurance Claim Process
                </div>
                <div class="col-xs-2">
                    <span style="display: inline-block;float: right;">
                         <i class="material-icons" ng-if="!knowMore2" style="font-size: 16px">keyboard_arrow_down</i>
                        <i class="material-icons" ng-if="knowMore2" style="font-size: 16px">keyboard_arrow_up</i>
                    </span>
                </div>
            </div>
            <div class="know-more-answer" ng-show="knowMore2">
                <p> Our workshops are recognized by all the major insurance company, so claiming insurance is easy as it comes. As of now, we provide cashless insurance with Iffco Tokio and Future Generali. For other insurers we provide cash claims.</p>
                <p>Here is process - </p>
                <p>1. Our team would call to collect the insurance details.</p>
                <p>2. We would coordinate with the insurance inspector and schedule the inspection at our workshop.</p>
                <p>3. Once approved by the insurance company (full or partial), we will call you to get your approval.</p>
                <p>4. Only when you approve it, we will start any work on your car.</p>
                <p>5. If any internal damage is identified we would call the inspector to take necessary approvals.</p>
                <p>6. You will be kept in the loop during the entire process.</p>
                <p>7. If cashless claim, we will send you the invoice with the amount to be paid.</p>
                <p>8. If cash claim, we will send the invoice with the full amount to be paid by you. You can get the claimed amount from the insurance company.</p>


            </div>
            <div class="row know-more-question" ng-click="knowMore3=!knowMore3;"  ng-init="knowMore3=false"
                 analytics-on analytics-event="FAQ Expansion Button Click"
                 analytics-category="BODE"
                 analytic-label="what’s the difference between a scratch and a dent?">
                <div class="col-xs-10">
                    Days to Delivery
                </div>
                <div class="col-xs-2">
                    <span style="display: inline-block;float: right;">
                         <i class="material-icons" ng-if="!knowMore3" style="font-size: 16px">keyboard_arrow_down</i>
                        <i class="material-icons" ng-if="knowMore3" style="font-size: 16px">keyboard_arrow_up</i>
                    </span>
                </div>
            </div>
            <div class="know-more-answer" ng-show="knowMore3">
                <p> We understand that your car is an integral part of your life,  so we do our best to deliver the car back to you at the earliest. We never compromise on quality. Hence, we don't commit to any delivery date until we inspect the car thoroughly at the workshop. We have created our own benchmarks for quality. Only on passing these checks would the car be cleared for delivery. </p>
                <br>For instance -
                <ul>
                    <li>Repairs or Replacement of 1 to 3 Panels will take around 3 Days.</li>
                    <li>Repairs or Replacement of 4 to 6 Panels will take around 5 Days.</li>
                    <li>Repairs or Replacement of 7 to 8 Panels will take around 6 days to a week.</li>
                    <li>Full Body Paint will require a maximum of 10 Days.</li>
                </ul>
                <p>Please note that actual delivery date is purely based on the condition of your car and the number of jobs that need to carried out.</p>

            </div>
            <div class="row know-more-question" ng-click="knowMore4=!knowMore4;"  ng-init="knowMore4=false"
                 analytics-on analytics-event="FAQ Expansion Button Click"
                 analytics-category="BODE"
                 analytic-label=" What is the estimated delivery date?">
                <div class="col-xs-10">
                    Pick and Drop is Absolutely Free
                </div>
                <div class="col-xs-2">
                    <span style="display: inline-block;float: right;">
                         <i class="material-icons" ng-if="!knowMore4" style="font-size: 16px;margin-left: 20px">keyboard_arrow_down</i>
                        <i class="material-icons" ng-if="knowMore4" style="font-size: 16px;margin-left: 20px">keyboard_arrow_up</i>
                    </span>
                </div>
            </div>
            <div class="know-more-answer animate-show" ng-show="knowMore4">
                <p> Yes, pick up & drop is free. Quick & easy.
                    When you book our service we take care of everything from picking up the car and dropping it back.
                    And don’t worry, Our drivers are well trained to drive any car in heavy traffic and tough weather conditions.
                    Once the driver has picked up the car, its Bumper's responsibility then onwards till we hand over the keys back to you after the work.</p>
            </div>
            <div class="row know-more-question" ng-click="knowMore5=!knowMore5;"  ng-init="knowMore5=false"
                 analytics-on analytics-event="FAQ Expansion Button Click"
                 analytics-category="BODE"
                 analytic-label="Is Pick Up & Drop Free?">
                <div class="col-xs-10">
                    Not able to find damage
                </div>
                <div class="col-xs-2">
                    <span style="display: inline-block;float: right;">
                         <i class="material-icons" ng-if="!knowMore5" style="font-size: 16px;margin-left: 20px">keyboard_arrow_down</i>
                        <i class="material-icons" ng-if="knowMore5" style="font-size: 16px;margin-left: 20px">keyboard_arrow_up</i>
                    </span>
                </div>
            </div>
            <div class="know-more-answer animate-show" ng-show="knowMore5">
                <p>Call us at  +91 9108446586</p>
                <p>Email us at support@bumper.com </p>
                <p><a ui-sref="base.contactUs">Request a call back </a></p>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a ui-sref="base.contact" target="_blank" class="faq"
                       analytics-on analytics-event="See Frequently Asked Question button click"
                       analytics-category="BODE">See Frequently Asked Questions</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="total-price-cart-box-mobile" ng-show="!cartCtrl.showHelp" ng-hide="!cartCtrl.selectedPackageList.length>0">
    <div class="row">
        <div class="col-xs-12" ng-init="data.showinfo = false">
            <div class="savings-back" ng-if="cartCtrl.totalSaving>0" ng-click="data.showinfo=!data.showinfo;"
                 analytics-on analytics-event="Saving Details Clicked(Mobile)"
                 analytics-category="CART">You saved!<i class="material-icons" style="float: right; font-size: 18px ;opacity: 0.7;color: #535353; margin-left: 6px; margin-top:1px">info_outline</i>
                <span style="float:right">&#8377;{$cartCtrl.totalSaving|number:0$}</span>
            </div>
            <div class="info-savings" ng-show="data.showinfo">Your savings are &#8377; {$cartCtrl.totalSaving|number:0$} in the booking. We calculate it against the authorized dealer price.<br><br>Dealer price - Bumper price = Your savings.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 ">
            <div class="cart-price-text">
                <span>Total Price </span>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 ">
            <span class="pull-right cart-price" ng-if="cartCtrl.cartValue>0"><span class="price-text-mobile">Amount- </span> &#8377; {$ cartCtrl.cartValue| number:0 $}<span ng-if="cartCtrl.replaceSelected">*</span></span>
            <span class="pull-right cart-price" ng-if="cartCtrl.cartValue==0"><span class="price-text-mobile">Amount- </span> Part MRP*</span>
        </div>
        <div class="col-lg-12 col-sm-6 col-md-6 col-xs-6 ">
            <md-button
                    class="md-raised md-primary  pull-right schedule-button"
                    analytics-on analytics-event="Click" analytics-category="Cart Page" analytics-label="Proceed To Schedule Button"
                    ng-click="cartCtrl.prepareForScheduling()">
                ADD PICKUP DETAILS
            </md-button>
        </div>
    </div>
</div>
<section class="footer-strip1">
    <div style="padding-left: 25px;padding-right: 25px">
        <a href ="#" ui-sref="base.contactUs" style="text-align:center;text-decoration: none; display:block;color:#fff;margin-bottom: 15px">Our workshops in Bengaluru & Delhi</a>
        <div class="row">
            <div class="col-xs-12 col-sm-4 no-margin no-padding footer-mobile-sec1">
                <a ui-sref="base.home" style="display: inline-block"><img class="lazy" data-original="img/footer_logo.svg" src="img/sample-loading.png" height="40" width="40">
                    <span style="margin-left: 10px;">India’s first network of body repair workshops</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding download-app-footer">
                <p style="text-align: center;">DOWNLOAD APP
                    <a   analytics-on
                         analytics-event="footer app link"
                         analytics-category="footer" analytics-label="android app"
                         href="https://play.google.com/store/apps/details?id=com.bumper.android&referrer=utm_source%3Dwebsite%2520%26utm_medium%3Dunknown%26utm_campaign%3Dandroid" target="_blank">
                        <img src="img/Android_footer.svg" style="margin-left:8px">
                    </a>
                    <a analytics-on
                       analytics-event="footer app link"
                       analytics-category="footer" analytics-label="ios app"
                       href="https://itunes.apple.com/app/apple-store/id1134862260?pt=118116317&ct=test_170717&mt=8"><img src="img/AppStore_footer.svg" style="margin-left:8px"></a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding">
                <div class="footer-strip-sec2">
                    <p style="border-right: solid 1px rgba(255,255,255,0.1);">+91 9108446586</p>
                    <a style="border-right: solid 1px rgba(255,255,255,0.1);padding-right:5px;color: #fff;text-decoration: none" href="mailto:support@bumper.com" target="_top">support@bumper.com</a>
                    <p style="padding-left: 5px">
                        <a analytics-on analytics-event="Click- FB Button"
                           analytics-category="Footer"
                           href="https://www.facebook.com/HitBumper" target="_blank"><img src="img/footer_fb.svg"></a>
                    </p>
                    <p style="padding-left: 5px" >
                        <a analytics-on analytics-event="Click- Twitter Button"
                           analytics-category="Footer"
                           href="https://www.twitter.com/HitBumper" target="_blank">
                            <img src="img/footer_twit.svg">
                        </a>
                    </p >
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Linkedin Button"
                            analytics-category="Footer"
                            href="https://www.linkedin.com/company/bumper" target="_blank">
                            <img src="img/footer_linked.svg">
                        </a>
                    </p>
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Youtube button"
                            analytics-category="Footer"
                            href="https://www.youtube.com/channel/UCAd8t8QH0Ft7QK8P1e4zUiQ?&ab_channel=Bumper" target="_blank">
                            <img src="img/youtube.svg" width="22px">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-strip2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <span ><p style="border-right: solid 1px rgba(255,255,255,0.1);float: none">&copy; 2016 Bumper.com <p>
                <p style="float: none">All rights reserved</p></span>
            </div>
        </div>
    </div>
</section>
<!--<md-fab-speed-dial ng-if="!base.isDeviceMobile" ng-cloak="" md-open="cartCtrl.isOpen" md-direction="{$base.selectedDirection$}"
                   ng-class="base.selectedMode">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-raised"
                   analytics-on analytics-event="close FAB icon clicked"
                   analytics-category="CART Page">
            <img src="img/TalkToUs.svg" ng-if="!cartCtrl.isOpen" style="margin-left:inherit;margin-bottom:inherit">
            <i class="material-icons" style="margin-top: 18px;" ng-if="cartCtrl.isOpen">close</i>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ng-click="base.requestCallback();"
                   analytics-on analytics-event="phone icon clicked"
                   analytics-category="CART Page"
                   href="#" class="md-fab md-raised"
                   style="background-color: #462b94;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">phone</i>
        </md-button>
        <md-button ng-click="base.userQuery();"
                   analytics-on analytics-event="inquiry icon clicked"
                   analytics-category="CART Page"
                   href="#" class="md-fab md-raised"
                   style="background-color: #5436a7;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);" >
            <img src="img/SendEnquiry.svg">
        </md-button>
        <md-button
                id="my-chat-link" href="#" class="custom_chat_button md-fab md-raised "
                analytics-on analytics-event="chat icon clicked"
                analytics-category="Cart Page"
                style="background-color: #7351d1;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">chat_bubble</i>
        </md-button>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
-->
