<section class="dent-scratch-section">
    <div class="container">
        <h1>Is there also a dent on the panel</h1>
        <p>All that appears to be a scratch is not a scratch, at times. Our experts have tried to explain this through the illustration below.</p>
        <img src="img/DesktopDiagram.svg" height="345" width="500" class="dent-paint-img hide-in-mob">
        <img src="img/MobileDiagram-02.svg" class="dent-paint-img hide-on-desktop">
        <div class="info-box1">
            <h2>Often there might be a dent as well</h2>
            <p>Basically, if there is a slightest depression on the surface,
                it is a dent and would require the surface to be brought back
                to shape before painting it.
            </p>
        </div>
    </div>
    <hr>
    <div class="container">
        <h1 style="margin-top:30px">Why does it matter?</h1>
        <p>Because, dent removal requires additional steps when compared
            to scratch removal as surface imperfection has to be repaired.<br class="hide-in-mob">
            All the scratches on the dented panel are also removed in the dent
            removal process. Below is the step wise process.</p>
        <div class="row comparison-table hide-in-mob">
            <div class="col-sm-6 col-xs-12">
                <h2>Scratches only (No damage to the metal body)</h2>
                <p class="not-available"><img src="img/checked.png" style="margin-right:12px">Paint stripping</p>
                <p class="not-available"><img src="img/checked.png" style="margin-right:12px">Dent removal</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Feather edging</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Body filler application</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Body filler sanding</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Putty application and sanding</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Masking and removal</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Surfacer application and sanding</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Painting in paint booth</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Baking</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Polishing and wax coating</p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h2>Dents only or Dents and Scratches on the same panel</h2>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Paint stripping</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Dent removal</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Feather edging</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Body filler application</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Body filler sanding</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Putty application and sanding</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Masking and removal</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Surfacer application and sanding</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Painting in paint booth</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Baking</p>
                <p><img src="img/notAvailable.png" style="margin-right:12px">Polishing and wax coating</p>
            </div>
        </div>
        <div class="row hide-on-desktop">
            <div class="col-xs-12">
                <div class="checklist-collapsed" ng-click="checklistOpen1=!checklistOpen1;checklistOpen2=false">
                    <div class="row">
                        <div class="col-xs-10">
                            <p>Scratches only</p>
                            <span>(No damage to the metal body)</span>
                        </div>
                        <div class="col-xs-2"><i class="material-icons" style="padding:10px" ng-show="!checklistOpen1">keyboard_arrow_down</i></div>
                        <div class="col-xs-2"><i class="material-icons" style="padding:10px" ng-show="checklistOpen1">keyboard_arrow_up</i></div>
                    </div>
                </div>
                <div class="checklist-open" ng-show="checklistOpen1">
                    <p class="not-available"><img src="img/checked.png" style="margin-right:8px">Paint stripping</p>
                    <p class="not-available"><img src="img/checked.png" style="margin-right:8px">Dent removal</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Feather edging</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Body filler application</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Body filler sanding</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Putty application and sanding</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Masking and removal</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Surfacer application and sanding</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Painting in paint booth</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Baking</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Polishing and wax coating</p>
                </div>
                <div class="checklist-collapsed" ng-click="checklistOpen2=!checklistOpen2;checklistOpen1=false">
                    <div class="row">
                        <div class="col-xs-10">
                            <p>Dents only or Dents and Scratches on the same panel</p>
                        </div>
                        <div class="col-xs-2"><i class="material-icons" style="padding:10px" ng-show="!checklistOpen2">keyboard_arrow_down</i></div>
                        <div class="col-xs-2"><i class="material-icons" style="padding:10px" ng-show="checklistOpen2">keyboard_arrow_up</i></div>
                    </div>
                </div>
                <div class="checklist-open" ng-show="checklistOpen2">
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Paint stripping</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Dent removal</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Feather edging</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Body filler application</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Body filler sanding</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Putty application and sanding</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Masking and removal</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Surfacer application and sanding</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Painting in paint booth</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Baking</p>
                    <p><img src="img/notAvailable.png" style="margin-right:8px">Polishing and wax coating</p>
                </div>
            </div>
        </div>
        <div class="info-box2">
            <p>Additional steps for dent removal and thus additional time and cost for dent removal.</p>
        </div>
    </div>
    <hr>
    <div class="container">
        <h1 style="margin-top:30px">Some real damages sent to our garages</h1>
        <div class="info-box2">
            <p>These may be useful while you are inspecting your own car for repairs.</p>
        </div>
        <div class="row hide-in-mob">
            <div class="col-xs-4">
                <img src="img/scratchOnly.JPG" width="100%" style="margin-bottom:20px">
                <span class="img-desc-dp">Scratches only (No damage to the metal body)</span>
            </div>
            <div class="col-xs-4">
                <img src="img/DentOnly.png" width="100%" style="margin-bottom:20px">
                <span class="img-desc-dp">Dents only</span>
            </div>
            <div class="col-xs-4">
                <img src="img/DentAndScratches.png" width="100%" style="margin-bottom:20px">
                <span class="img-desc-dp">Dents and scratches on the same panel</span>
            </div>
        </div>
        <div class="row hide-on-desktop">
            <div class="col-xs-12 col-sm-6" >
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="img/scratchOnly.JPG" width="100%" style="margin-bottom:20px">
                        <span class="img-desc-dp">Scratches only (No damage to the metal body)</span>
                    </div>
                    <div class="item">
                        <img src="img/DentOnly.png" width="100%" style="margin-bottom:20px">
                        <span class="img-desc-dp">Dents only</span>
                    </div>
                    <div class="item">
                        <img src="img/DentAndScratches.png" width="100%" style="margin-bottom:20px">
                        <span class="img-desc-dp">Dents and scratches on the same panel</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-strip1">
    <div style="padding-left: 25px;padding-right: 25px">
        <a href ="#" ui-sref="base.contactUs" style="text-align:center;text-decoration: none; display:block;color:#fff;margin-bottom: 15px">Our workshops in Bengaluru & Delhi</a>
        <div class="row">
            <div class="col-xs-12 col-sm-4 no-margin no-padding footer-mobile-sec1">
                <a ui-sref="base.home" style="display: inline-block"><img class="lazy" data-original="img/footer_logo.svg" src="img/sample-loading.png" height="40" width="40">
                    <span style="margin-left: 10px;">India’s first network of body repair workshops</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding download-app-footer">
                <p style="text-align: center;">DOWNLOAD APP
                    <a   analytics-on
                         analytics-event="footer app link"
                         analytics-category="footer" analytics-label="android app"
                         href="https://play.google.com/store/apps/details?id=com.bumper.android&referrer=utm_source%3Dwebsite%2520%26utm_medium%3Dunknown%26utm_campaign%3Dandroid" target="_blank">
                        <img src="img/Android_footer.svg" style="margin-left:8px">
                    </a>
                    <a analytics-on
                       analytics-event="footer app link"
                       analytics-category="footer" analytics-label="ios app"
                       href="https://itunes.apple.com/app/apple-store/id1134862260?pt=118116317&ct=test_170717&mt=8"><img src="img/AppStore_footer.svg" style="margin-left:8px"></a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding">
                <div class="footer-strip-sec2">
                    <p style="border-right: solid 1px rgba(255,255,255,0.1);">+91 9108446586</p>
                    <a style="border-right: solid 1px rgba(255,255,255,0.1);padding-right:5px;color: #fff;text-decoration: none" href="mailto:support@bumper.com" target="_top">support@bumper.com</a>
                    <p style="padding-left: 5px">
                        <a analytics-on analytics-event="Click- FB Button"
                           analytics-category="Footer"
                           href="https://www.facebook.com/HitBumper" target="_blank"><img src="img/footer_fb.svg"></a>
                    </p>
                    <p style="padding-left: 5px" >
                        <a analytics-on analytics-event="Click- Twitter Button"
                           analytics-category="Footer"
                           href="https://www.twitter.com/HitBumper" target="_blank">
                            <img src="img/footer_twit.svg">
                        </a>
                    </p >
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Linkedin Button"
                            analytics-category="Footer"
                            href="https://www.linkedin.com/company/bumper" target="_blank">
                            <img src="img/footer_linked.svg">
                        </a>
                    </p>
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Youtube button"
                            analytics-category="Footer"
                            href="https://www.youtube.com/channel/UCAd8t8QH0Ft7QK8P1e4zUiQ?&ab_channel=Bumper" target="_blank">
                            <img src="img/youtube.svg" width="22px">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-strip2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <span ><p style="border-right: solid 1px rgba(255,255,255,0.1);float: none">&copy; 2016 Bumper.com <p>
                <p style="float: none">All rights reserved</p></span>
            </div>
        </div>
    </div>
</section>
<!-- <md-fab-speed-dial ng-if="!base.isDeviceMobile" ng-cloak="" md-open="base.isOpen" md-direction="{$base.selectedDirection$}"
                   ng-class="base.selectedMode">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-raised"
                   analytics-on analytics-event="close FAB icon clicked"
                   analytics-category="what is dent and scratch page">
            <img src="img/TalkToUs.svg" ng-if="!base.isOpen" style="margin-left:inherit;margin-bottom:inherit">
            <i class="material-icons" style="margin-top: 18px;" ng-if="base.isOpen">close</i>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ng-click="base.requestCallback();"
                   analytics-on analytics-event="phone icon clicked"
                   analytics-category="what is dent and scratch page"
                   href="#" class="md-fab md-raised"
                   style="background-color: #462b94;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">phone</i>
        </md-button>
        <md-button ng-click="base.userQuery();"
                   analytics-on analytics-event="inquiry icon clicked"
                   analytics-category="what is dent and scratch page"
                   href="#" class="md-fab md-raised"
                   style="background-color: #5436a7;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);" >
            <img src="img/SendEnquiry.svg">
        </md-button>
        <md-button
                id="my-chat-link" href="#" class="custom_chat_button md-fab md-raised "
                analytics-on analytics-event="chat icon clicked"
                analytics-category="Cart Page"
                style="background-color: #7351d1;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">chat_bubble</i>
        </md-button>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
<md-fab-speed-dial ng-if="base.isDeviceMobile"ng-cloak="" md-open="crCtrl.isOpen" md-direction="{$base.selectedDirection$}"
                   ng-class="base.selectedMode">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-raised md-mini"
                   analytics-on analytics-event="close FAB icon clicked"
                   analytics-category="What is dent paint Page">
            <img src="img/TalkToUs.svg" ng-if="!crCtrl.isOpen" style="margin-left:inherit;margin-bottom:inherit;width:18px">
            <i class="material-icons" style="margin-top:8px;" ng-if="crCtrl.isOpen">close</i>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ng-click="base.requestCallback();"
                   analytics-on analytics-event="phone icon clicked"
                   analytics-category="What is dent paint Page">
            href="#" class="md-fab md-raised md-mini"
            style="background-color: #462b94;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top:10px;color:#fff;font-size:18px">phone</i>
        </md-button>
        <md-button ng-click="base.userQuery();"
                   analytics-on analytics-event="inquiry icon clicked"
                   analytics-category="What is dent paint Page">
            href="#" class="md-fab md-raised md-mini"
            style="background-color: #5436a7;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);" >
            <img src="img/SendEnquiry.svg" style="margin-top:6px;margin-bottom: inherit;left: inherit;width:10px" >
        </md-button>
        <md-button
                id="my-chat-link" href="#" class="custom_chat_button md-fab md-raised md-mini"
                analytics-on analytics-event="chat icon clicked"
                analytics-category="What is dent paint Page"
                style="background-color: #7351d1;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top:13px;color:#fff;font-size: 16px">chat_bubble</i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
-->