<section class="what-we-do-section">
    <div class="container">
        <h1>What we do</h1>
        <!-- <div class="row">
             <div class="col-xs-4">
                 <div style="background-color: #ffffff;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);border: solid 1px rgba(239, 170, 83, 0.72);padding: 57px;">
                     <p style="	font-family: Roboto;font-size: 22px;font-weight: 500;line-height: 0.9;color: #000000;">Removal of Scratches</p>
                     <p>All the dents and scratches are removed and the panel is painted.</p>
                     <div style="background-color: #ffffff;border: solid 1px #979797;">
                         Starting from Rs 1699*
                     </div>
                     <p>Any number of dents and scratches - same price!</p>
                     <p>Big dent, small dent - same price!</p>
                 </div>
             </div>
             <div class="col-xs-4">
                  <div style="background-color: #ffffff;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);border: solid 1px rgba(151, 46, 160, 0.7);padding: 57px;">
                     <p style="	font-family: Roboto;font-size: 22px;font-weight: 500;line-height: 0.9;color: #000000;">Panel & Part Replacement</p>
                     <p>Authentic & genuine parts are procured, painted and fitted</p>
                     <div style="background-color: #ffffff;border: solid 1px #979797;">
                         Starting at ₹ 2399 + Part MRP*
                     </div>
                     <p>Panels include Bumper, Bonnet, Doors, Fender, Quarter panel, Dicky and Running board.</p>
                 </div>
             </div>
             <div class="col-xs-4">
                  <div style="background-color: #ffffff;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);border: solid 1px #9a7dec;padding: 57px;">
                     <p style="	font-family: Roboto;font-size: 22px;font-weight: 500;line-height: 0.9;color: #000000;">Full Body Paint</p>
                     <p>All the panels are repainted with OEM colour paint after removing all the dents and scratches.</p>
                     <div style="background-color: #ffffff;border: solid 1px #979797;">
                         Starting at ₹ 21,999*
                     </div>
                     <p>Parts like – side view mirror, door handles, upper and lower grill are also painted if required for the car.</p>
                     <p>This also comes with 1 year paint warranty.</p>
                 </div>
             </div>
         </div> -->
        <div class="row" style="margin-bottom: 20px">
            <div class="col-sm-4 col-xs-12">
                <h2>Removal of Dents & Scratches</h2>
                <div class="half-border1"></div>
                <h3>Starting at &#8377; 1699*</h3>
                <p>All the dents and scratches are removed and the panel is painted.</p>
                <ul>
                    <li><span class="list">Any number of dents and scratches - same price!</span> </li>
                    <li><span class="list">Big dent, small dent - same price!</span></li>
                </ul>
                <span class="full-body-info">
                    * the prices quoted are starting prices.
                </span>
                <span class="hide-on-desktop">
                    <a href="#" ui-sref="base.estimator"
                       analytics-on analytics-event="Click Estimate Now Button"
                       analytics-category="Home Page"
                       analytics-label="Section- What we do">GET ESTIMATE<span><img src="img/book-now-icon.png" class="next-icon"></span></a>
                </span>
            </div>
            <div class="col-sm-4 col-xs-12">
                <h2>PANEL & PART REPLACEMENT</h2>
                <div class="half-border2"></div>
                <h3>Starting at &#8377; 2399 + Part MRP*</h3>
                <p>Authentic & genuine parts are procured, painted and fitted</p>
                <ul>
                    <li><span class="list">Panels include Bumper, Bonnet, Doors, Fender, Quarter panel, Dicky and Running board.</span> </li>
                    <li><span class="list">Replacement for parts like headlight, tail light, windshield, indicators starts at &#8377; 99 + Part MRP*.</span></li>
                </ul>
                <span class="hide-on-desktop">
                    <a href="#" ui-sref="base.estimator"
                       analytics-on analytics-event="Click replace panel Button"
                       analytics-category="Home Page"
                       analytics-label="Section- What we do">REPLACE PANEL<span><img src="img/book-now-icon.png" class="next-icon"></span></a>
                </span>
            </div>
            <div class="col-sm-4 col-xs-12">
                <h2>FULL BODY PAINT</h2>
                <div class="half-border3" style="margin-bottom: 20px"></div>
                <h3>Starting at &#8377; 21,999*</h3>
                <p>All the panels are repainted with OEM colour paint after removing all the dents and scratches.</p>
                <ul>
                    <li><span class="list">Parts like – side view mirror, door handles, upper and lower grill are also painted if required for the car.</span> </li>
                    <li><span class="list">This also comes with 1 year paint warranty.</span></li>
                </ul>
            </div>
        </div>
        <a href="#" ui-sref="base.estimator"
           analytics-on analytics-event="Click Book Now Button"
           analytics-category="Home Page"
           analytics-label="Section- What we do">BOOK NOW <span><img src="img/book-now-icon.png" class="next-icon"></span></a>
    </div>
</section>
<section class="network-section">
    <div class="container">
        <h1>India’s first network of body repair workshops</h1>
        <div class="row padding-mobile">
            <div class="col-md-8 col-sm-12 col-xs-12 no-margin" style="padding-left:0px;padding-bottom:2px;padding-top:0px;padding-right:3px">
                <div id="frameWrap">
                    <md-progress-circular id="loader1" md-mode="indeterminate" md-diameter="32"></md-progress-circular>
                    <div class="youtube" data-embed="xX-fE_Ez8kg">
                        <div class="play-button"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-sm-3 col-xs-3 no-margin no-padding" ng-repeat="image in base.images">
                        <a href="#" ng-click="base.openLightboxModal($index)">
                            <img  ng-src="{$image.thumbUrl$}" class="img-thumbnail lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#headerTop" ui-sref="base.contactUs"
           analytics-on analytics-event="See All"
           analytics-category="Customer Section"
           analytics-label="see all button" uk-scroll>OUR WORKSHOP LOCATIONS<span><img src="img/book-now-icon.png" class="next-icon"></span>
        </a>
    </div>
</section>
<section class="how-it-works-section">
    <div class="container">
        <h1>How it works</h1>
        <div class="row" style="margin-left: 25px">
            <div class="col-sm-2 col-xs-4 no-padding">
                <img class="lazy"  src="img/sample-loading.png" data-original="img/howitworks1.svg"  width="100%"
                     alt="Car Accident Damage Estimator - Dent & Paint repair">
                <p>Get Damage Estimate</p>
            </div>
            <div class="col-sm-1 col-xs-2">
                <span class="arrow-style"><i class="material-icons arrow-size" >arrow_forward</i></span>
            </div>
            <div class="col-sm-2 col-xs-4 no-padding">
                <img class="lazy"  src="img/sample-loading.png" data-original="img/howitworks2.svg"  width="100%"
                     alt="Free Pick Up & Drop - Bumper (Car Dent & Paint Repair)">
                <p>Free Pick Up & Drop</p>
                <span class="hide-on-desktop arrow-style-down">
                    <i class="material-icons arrow-size">arrow_downward</i>
                </span>
            </div>
            <div class="col-xs-2 col-sm-1">
                <span class="hide-in-mob">
                    <span class="arrow-style">
                        <i class="material-icons" >arrow_forward</i>
                    </span>
                </span>
            </div>
            <div class="col-sm-2 col-xs-4  col-sm-push-3 no-padding ">
                <img class="lazy"   src="img/sample-loading.png" data-original="img/howitworks4.svg"  width="100%"
                     alt="online payment - Dent & Paint repair">
                <p>Pay on Delivery!</p>
            </div>
            <div class="col-xs-2 col-sm-1">
                <span class="hide-in-mob"><span class="arrow-style"><i class="material-icons" >arrow_forward</i></span></span>
                <span class="hide-on-desktop"><i class="material-icons arrow-style ">arrow_back</i></span>
            </div>
            <div class="col-xs-4 col-sm-2 col-sm-pull-3 no-padding">
                <img class="lazy"  src="img/sample-loading.png" data-original="img/howitworks3.svg"  width="100%"
                     alt="Get notification on app - Bumper (Car Dent & Paint Repair)">
                <p>In-App Updates</p>
            </div>
        </div>
    </div>
</section >
<section class="customer-section">
    <div  class="container">
        <h1>Our customers speak for us</h1>
        <div class="row hide-in-mob">
            <div class="col-xs-12 col-sm-6">
                <div class="youtube" data-embed="BWYG1T-L8NI">
                    <div class="play-button"></div>
                </div>
                <div class="carousel-text">
                    <p>"You took the car on the day you told me it would be taken, you finished the job much ahead of time.
                        I was more than happy that you kept me updated regularly.
                        I knew it was in safe hands, now that I look at the car, I think its better than the original"</p>
                    <span>- Ramesh, Entreprenuer</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="youtube" data-embed="QoCfrGcZk0A">
                    <div class="play-button"></div>
                </div>
                <div class="carousel-text">
                    <p>"Once the car came back, it came back as good as new.
                        It smelt new, it looked new - on the inside and the outside.
                        I was planning on selling it. But, I am going to keep this car for a few more years now."</p>
                    <span>- Chaitanya Adapa, VP Products, ngpay</span>
                </div>
            </div>
        </div>
        <div class="row hide-on-desktop">
            <div class="col-xs-12 col-sm-6" >
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="youtube" data-embed="BWYG1T-L8NI">
                            <div class="play-button"></div>
                        </div>
                        <div class="carousel-text">
                            <p>"You took the car on the day you told me it would be taken, you finished the job much ahead of time.
                                I was more than happy that you kept me updated regularly.
                                I knew it was in safe hands, now that I look at the car, I think its better than the original"</p>
                            <span>- Ramesh</span><br>
                            <span>Entreprenuer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="youtube" data-embed="QoCfrGcZk0A">
                            <div class="play-button"></div>
                        </div>
                        <div class="carousel-text">
                            <p>"Once the car came back, it came back as good as new.
                                It smelt new, it looked new - on the inside and the outside.
                                I was planning on selling it. But, I am going to keep this car for a few more years now."</p>
                            <span>- Chaitanya Adapa</span><br>
                            <span>VP Products, ngpay</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="youtube" data-embed="b9ybbk7Ox6g">
                            <div class="play-button"></div>
                        </div>
                        <div class="carousel-text">
                            <p>"Got it done, hassle free. Paid on the App.
                                No visiting workshop. No following up 5 times and
                                getting 5 ETAs - 1 ETA, 1 day, 1 time, Done!"
                            </p>
                            <span>- Preetham</span><br>
                            <span>Sr. Hardware Engineer, Broadcom</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" ui-sref="base.customerReviews"
           analytics-on analytics-event="See All"
           analytics-category="Customer Section"
           analytics-label="see all button">SEE ALL REVIEWS <span><img src="img/book-now-icon.png" class="next-icon"></span>
        </a>
    </div>
</section>
<section class="best-quality-repair">
    <div class="container">
        <h1>The Best Quality Repairs in the industry. Period.</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2>BEST COLOUR MATCH</h2>
                <div class="row">
                    <div class="col-xs-1"><i class="material-icons" style="font-size: 13px; color: #ffb37b">star</i></div>
                    <div class="col-xs-11 star-padding"><p>We use paint racks for color mixing.</p></div>
                </div>
                <div class="row">
                    <div class="col-xs-1"><i class="material-icons" style="font-size: 13px; color: #ffb37b">star</i></div>
                    <div class="col-xs-11 star-padding"><p>Perfect match. Better than any in the industry</p></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>DUST FREE PAINT BOOTHS</h2>
                <div class="row">
                    <div class="col-xs-1"><i class="material-icons" style="font-size: 13px; color: #ffb37b">star</i></div>
                    <div class="col-xs-11 star-padding"><p>All our workshops have dust-free Paint Booths.</p></div>
                </div>
                <div class="row">
                    <div class="col-xs-1"><i class="material-icons" style="font-size: 13px; color: #ffb37b">star</i></div>
                    <div class="col-xs-11 star-padding"><p>Every car is painted inside these Paint Booths.</p></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>DENT PULLERS</h2>
                <div class="row">
                    <div class="col-xs-1"><i class="material-icons" style="font-size: 13px; color: #ffb37b">star</i></div>
                    <div class="col-xs-11 star-padding"><p>We use dent pullers to bring the panel in shape.</p></div>
                </div>
                <div class="row">
                    <div class="col-xs-1"><i class="material-icons" style="font-size: 13px; color: #ffb37b">star</i></div>
                    <div class="col-xs-11 star-padding"><p>Industry uses archaic process of beating panels with hammers</p></div>
                </div>
            </div>
        </div>
        <a href="#" ui-sref="base.estimator">GET ESTIMATE<span><img src="img/book-now-icon.png"  class="next-icon"></span></a>
    </div>
</section >
<section class="best-works" ng-if="!isDeviceMobile">
    <div class="container">
        <h1>Some of our works</h1>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="before-image">
                    <img class="lazy" src="img/beforeAfter.png" ng-click="base.openBeforeAfterLightboxModal(7)">
                    <h2>
                        <span class="before-text-large">Chevrolet Beat - Dent Removal & Painting </br>
                            <span class="before-text-small">Before and After</span>
                        </span>
                    </h2>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid-out">
                    <span class="grid-in" ng-repeat="images in base.beforeAfterImages track by $index">
                    <img class="lazy" ng-src="{$images.thumbUrl$}"
                         ng-click="base.openBeforeAfterLightboxModal($index)"
                         analytics-on analytics-event="Image Thumbnail clicked"
                         analytics-category="Best work section"
                         width="146" height="98">
                    <h2><span>{$images.name$}</span></h2>
                    </span>
                </div>
            </div>
        </div>
        <a href="#" ui-sref="base.estimator" analytics-on analytics-event="Get Estimate Button"
           analytics-category="Best work section">GET ESTIMATE<span><img src="img/book-now-icon.png"  class="next-icon"></span></a>
    </div>
</section>
<section class="bumper-packages" >
    <div class="container">
        <h1>Bumper Packages</h1>
        <div class="row" style="margin-bottom: 30px">
            <div class="col-sm-6 col-md-4 col-xs-12">
                <div class="hide-on-desktop">
                    <a ui-sref="base.package" analytics-on analytics-event="Package clicked - mobile"
                       analytics-category="Home Page">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="lazy"  src="img/sample-loading.png" data-original="img/Services.svg" width="100" height="100" alt="car wash value pack - bumper.com ">
                            </div>
                            <div class="col-xs-8">
                                <p class="mobile-package-desc">
                                    Get your car shining inside and out
                                    with our various car beautification
                                    and detailing services right at your
                                    doorstep. We have custom packages for your specific needs.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bumper-package-cont hide-in-mob">
                    <a ui-sref="base.package" analytics-on analytics-event="Package clicked - desktop"
                       analytics-category="Home Page">
                        <div class="row">
                            <div class="col-xs-4"><img class="lazy"  src="img/sample-loading.png" data-original="img/car-wash-value-pack.png" width="100" height="100" alt="car wash value pack"></div>
                            <div class="col-xs-8">
                                <h2>Car wash value pack</h2>
                                <p>An Eco-friendly dry wash and a great
                                    value for money which conserves water
                                    and prevents paint oxidation as well.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6  col-md-4 col-xs-12">
                <div class="bumper-package-cont hide-in-mob">
                    <a ui-sref="base.package" analytics-on analytics-event="Package clicked - desktop"
                       analytics-category="Home Page" >
                        <div class="row">
                            <div class="col-xs-4"><img class="lazy"  src="img/sample-loading.png" data-original="img/interior-advanced-cleaning.png" width="100" height="100" alt=" Interior Car Cleaning- Bumper "></div>
                            <div class="col-xs-8">
                                <h2>Interior advanced cleaning</h2>
                                <p>An antibacterial treatment for your car.
                                    It prevents bacterial growth upto 80%.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-md-4 col-sm-6 col-xs-12">
                <div class="bumper-package-cont hide-in-mob">
                    <a ui-sref="base.package" analytics-on analytics-event="Package clicked - desktop"
                       analytics-category="Home Page">
                        <div class="row">
                            <div class="col-xs-4"><img class="lazy"  src="img/sample-loading.png"  data-original="img/AC-disinfection.png" width="100" height="100" alt="AC Disinfection - Bumper"></div>
                            <div class="col-xs-8">
                                <h2>AC Disinfection</h2>
                                <p>Kills foul odour and prevents
                                    bacterial growth inside AC vents
                                    and tubes.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <a analytics-on analytics-event="Click See All Packages Button"
           analytics-category="Home Page"
           href="#" ui-sref="base.package">SEE ALL PACKAGES <span><img src="img/book-now-icon.png" class="next-icon"></span></a>
    </div>
</section>
<section class="bumper-in-news">
    <div class="container">
        <h1>Bumper in news</h1>
        <div class="row">
            <div class="col-sm-1 co-xs-0"></div>
            <div class="col-sm-2 col-xs-4">
                <a analytics-on analytics-event="Click - PR Section"
                   analytics-category="Home Page"
                   analytics-label="FirstPost" href="http://www.firstpost.com/business/bumper-bengaluru-based-car-care-startup-secures-0-5-million-seed-funding-2561800.html" target="_blank">
                    <img  data-original="img/firstPost_bw.png"  class="firstpost-img lazy"  src="img/sample-loading.png" alt="bumper in first post">
                </a>
            </div>
            <div class="col-sm-2 col-xs-4">
                <a  analytics-on analytics-event="Click - PR Section"
                    analytics-category="Home Page"
                    analytics-label="Inc 42"
                    href="https://inc42.com/flash-feed/bumper-raises-funding/" target="_blank">
                    <img  data-original="img/Inc42_bw.png"  class="inc-img lazy"  src="img/sample-loading.png" alt="bumper in inc42">
                </a></div>
            <div class="col-sm-2 col-xs-4">
                <a analytics-on analytics-event="Click - PR Section"
                   analytics-category="Home Page"
                   analytics-label="Yourstory"
                   href="https://yourstory.com/2015/12/bumper-funding/" target="_blank">
                    <img data-original="img/yourStory_bw.png" class="yourstory-img lazy"  src="img/sample-loading.png" alt="bumper in your story">
                </a>
            </div>
            <div class="col-sm-2">
                <span class="hide-in-mob">
                    <a analytics-on analytics-event="Click - PR Section"
                       analytics-category="Home Page"
                       analytics-label="VC Circle"
                       href="http://www.vccircle.com/news/technology/2015/12/28/car-services-platform-bumper-raises-500k-saif" target="_blank">
                    <img  data-original="img/VcCircle.png"  class="vc-img lazy"  src="img/sample-loading.png" alt="bumper in vc circle">
                    </a>
                </span>
            </div>
            <div class="col-sm-2">
                <span class="hide-in-mob">
                    <a analytics-on analytics-event="Click - PR Section"
                       analytics-category="Home Page"
                       analytics-label="IAMWire"
                       href="http://www.iamwire.com/2015/12/car-care-services-provider-bumper-bags-0-5m-funding-led-saif-partners/129237" target="_blank">
                        <img data-original="img/iamWire_bw.png"  class="im-wire-img lazy"  src="img/sample-loading.png" alt="bumper in i am wire">
                    </a>
                </span>
            </div>
            <div class="col-sm-1 col-xs-0"></div>
        </div>
    </div>
</section>
<!--<section class="footer-section" >
    <div class="container">
        <h1>Contact us</h1>
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12" style="padding-bottom:20px;padding-right:40px">
                        <h2>CORPORATE OFFICE</h2>
                        <p>Second floor, No 11, 80 ft road, Koramangala
                            Near Kotak Mahindra Bank,
                            Bengaluru - 560035</p>
                    </div>
                    <div class="col-xs-12" style="padding-bottom:20px">
                        <div class="footer-talk-to-us">
                            <h2>TALK TO US</h2>
                            <a analytics-on analytics-event="Click Facebook Button"
                               analytics-category="Home Page"
                               analytics-label="Section - Contact Us"
                               href="https://www.facebook.com/HitBumper" target="_blank">
                                <img src="img/facebook.svg" alt="Follow Bumper on Facebook" width="22" height="22" style="display: inline-block">
                            </a>
                            <a  analytics-on analytics-event="Click Twitter Button"
                                analytics-category="Home Page"
                                analytics-label="Section - Contact Us"href="https://www.twitter.com/HitBumper" target="_blank">
                                <img src="img/twitter.svg" alt="Follow Bumper on Twitter" width="22" height="22" style="display: inline-block;margin-left: 8px">
                            </a>
                            <a analytics-on analytics-event="Click Linkedin Button"
                               analytics-category="Home Page"
                               analytics-label="Section - Contact Us"href="https://www.linkedin.com/company/bumper" target="_blank">
                                <img src="img/linkedin.svg"  alt="Follow bumper on Linkedin" width="22" height="22" style="display: inline-block;margin-left: 8px">
                            </a>
                            <span style="margin-left: 35px">support@bumper.com</span><span style="margin-left: 35px">+91 9108446586</span><br><br>
                            <p><span>Monday - Saturday, 9 AM to  6 PM</span></p>
                        </div>
                    </div>
                    <div class="col-xs-12" style="padding-bottom:20px">
                        <h2>BE A PART OF BUMPER NETWORK</h2>
                        <p>For workshops and mechanics.</p>
                        <a  analytics-on analytics-event="Click Become a Partner Button"
                            analytics-category="Home Page"
                            analytics-label="Section - Contact Us"
                            class="become-partner-link" href="#" ng-click="base.openPartnerPopup()">BECOME A PARTNER</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <img class="lazy"  src="img/sample-loading.png" data-original="img/Map.svg" width="567" height="366" style="max-height:366px">
            </div>
        </div>

    </div>
</section> -->
<section class="footer-strip1">
    <div style="padding-left: 25px;padding-right: 25px">
        <a href ="#" ui-sref="base.contactUs" style="text-align:center;text-decoration: none; display:block;color:#fff;margin-bottom: 15px">Our workshops in Bengaluru & Delhi</a>
        <div class="row">
            <div class="col-xs-12 col-sm-4 no-margin no-padding footer-mobile-sec1">
                <a ui-sref="base.home" style="display: inline-block"><img class="lazy" data-original="img/footer_logo.svg" src="img/sample-loading.png" height="40" width="40">
                    <span style="margin-left: 10px;">India’s first network of body repair workshops</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding download-app-footer">
                <p style="text-align: center;">DOWNLOAD APP
                    <a   analytics-on
                         analytics-event="footer app link"
                         analytics-category="footer" analytics-label="android app"
                         href="https://play.google.com/store/apps/details?id=com.bumper.android&referrer=utm_source%3Dwebsite%2520%26utm_medium%3Dunknown%26utm_campaign%3Dandroid" target="_blank">
                        <img src="img/Android_footer.svg" style="margin-left:8px">
                    </a>
                    <a analytics-on
                       analytics-event="footer app link"
                       analytics-category="footer" analytics-label="ios app"
                       href="https://itunes.apple.com/app/apple-store/id1134862260?pt=118116317&ct=test_170717&mt=8"><img src="img/AppStore_footer.svg" style="margin-left:8px"></a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding">
                <div class="footer-strip-sec2">
                    <p style="border-right: solid 1px rgba(255,255,255,0.1);">+91 9108446586</p>
                    <a style="border-right: solid 1px rgba(255,255,255,0.1);padding-right:5px;color: #fff;text-decoration: none" href="mailto:support@bumper.com" target="_top">support@bumper.com</a>
                    <p style="padding-left: 5px">
                        <a analytics-on analytics-event="Click- FB Button"
                           analytics-category="Footer"
                           href="https://www.facebook.com/HitBumper" target="_blank"><img src="img/footer_fb.svg"></a>
                    </p>
                    <p style="padding-left: 5px" >
                        <a analytics-on analytics-event="Click- Twitter Button"
                           analytics-category="Footer"
                           href="https://www.twitter.com/HitBumper" target="_blank">
                            <img src="img/footer_twit.svg">
                        </a>
                    </p >
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Linkedin Button"
                            analytics-category="Footer"
                            href="https://www.linkedin.com/company/bumper" target="_blank">
                            <img src="img/footer_linked.svg">
                        </a>
                    </p>
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Youtube button"
                            analytics-category="Footer"
                            href="https://www.youtube.com/channel/UCAd8t8QH0Ft7QK8P1e4zUiQ?&ab_channel=Bumper" target="_blank">
                            <img src="img/youtube.svg" width="22px">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-strip2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <span ><p style="border-right: solid 1px rgba(255,255,255,0.1);float: none">&copy; 2016 Bumper.com <p>
                <p style="float: none;border-right: solid 1px rgba(255,255,255,0.1);">All rights reserved</p>
                <p style="float: none" ng-click="$state.go('base.privacy')">Privacy Policy</p></span>
            </div>
        </div>
    </div>
</section>
<!--<md-fab-speed-dial ng-cloak="" analytics-on analytics-event="FAB icon clicked"
                   analytics-category="Home Page"
                   ng-if="!base.isDeviceMobile" ng-cloak="" md-open="base.isOpen" md-direction="{$base.selectedDirection$}"
                   ng-class="base.selectedMode">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-raised"
                   analytics-on analytics-event="close FAB icon clicked"
                   analytics-category="Home Page">
            <img src="img/TalkToUs.svg" ng-if="!base.isOpen" style="margin-left:inherit;margin-bottom:inherit">
            <i class="material-icons" style="margin-top: 18px;" ng-if="base.isOpen">close</i>
        </md-button>
        <div class="chat-text" ng-if="base.isOpen">Questions? Allow us to help you!</div>
    </md-fab-trigger>
    <md-fab-actions >
        <md-button ng-click="base.requestCallback();"
                   analytics-on analytics-event="phone icon clicked"
                   analytics-category="Home Page"
                   href="#" class="md-fab md-raised"
                   style="background-color: #462b94;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="position:absolute;top:16px;right:15px;color:#fff">phone</i>
        </md-button>
        <md-button ng-click="base.userQuery();"
                   analytics-on analytics-event="inquiry icon clicked"
                   analytics-category="Home Page"
                   href="#" class="md-fab md-raised"
                   style="background-color: #5436a7;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);" >
            <img src="img/SendEnquiry.svg">
        </md-button>
        <md-button
                id="my-chat-link" href="#" class="custom_chat_button md-fab md-raised "
                analytics-on analytics-event="chat icon clicked"
                analytics-category="Cart Page"
                style="background-color: #7351d1;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">chat_bubble</i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
-->