<section class="what-we-do-mob" >
    <div class="container">
        <h1>What we do</h1>
        <div class="row">
            <div class="col-xs-12">
                <div class="ww-card1">
                    <div class="row" style="outline: none !important;" ng-click="showDetail1=!showDetail1;showDetail2=false;showDetail3=false;">
                        <div class="col-xs-10">
                            <h2>Removal of Dents & Scratches</h2>
                            <h3>Starting at &#8377; 1699*</h3>
                        </div>
                        <div class="col-xs-2">
                            <i class="material-icons" style="padding:10px" ng-if="!showDetail1">keyboard_arrow_down</i>
                            <i class="material-icons" style="padding:10px" ng-if="showDetail1">keyboard_arrow_up</i>
                        </div>
                    </div>
                    <div class="row" ng-show="showDetail1">
                        <hr>
                        <div class="col-xs-12">
                            <p>
                                All the dents and scratches are removed and the panel is painted.<br>
                                Any number of dents and scratches - same price!<br>
                                Big dent, small dent - same price!

                            </p>
                            <a analytics-on analytics-event="Get Estimate Button What we do"
                               analytics-category="Home Page"
                               href="#" ui-sref="base.estimator">GET ESTIMATE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="ww-card2">
                    <div class="row" style="outline: none !important;" ng-click="showDetail2=!showDetail2;showDetail1=false;showDetail3=false;">
                        <div class="col-xs-10">
                            <h2>Panel & Part Replacement</h2>
                            <h3>Starting at &#8377; 2399 + Part MRP*</h3>
                        </div>
                        <div class="col-xs-2">
                            <i class="material-icons" style="padding:10px" ng-if="!showDetail2">keyboard_arrow_down</i>
                            <i class="material-icons" style="padding:10px" ng-if="showDetail2">keyboard_arrow_up</i>
                        </div>
                    </div>
                    <div class="row" ng-show="showDetail2">
                        <hr>
                        <div class="col-xs-12">
                            <p>
                                Authentic & genuine parts are procured, painted and fitted.<br>
                                Panels include Bumper, Bonnet, Doors, Fender, Quarter panel, Dicky and Running board.<br>
                                Replacement for parts like headlight, tail light, windshield, indicators starts at ₹ 99 + Part MRP*.
                            </p>
                            <a analytics-on analytics-event="Get Estimate Button What we do"
                               analytics-category="Home Page"
                               href="#" ui-sref="base.estimator">REPLACE PANEL</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="ww-card3">
                    <div class="row"  style="outline: none !important;" ng-click="showDetail3=!showDetail3;showDetail2=false;showDetail1=false;">
                        <div class="col-xs-10">
                            <h2>Full Body Paint</h2>
                            <h3>Starting at &#8377; 21,999*</h3>
                        </div>
                        <div class="col-xs-2">
                            <i class="material-icons" style="padding:10px" ng-if="!showDetail3">keyboard_arrow_down</i>
                            <i class="material-icons" style="padding:10px" ng-if="showDetail3">keyboard_arrow_up</i>
                        </div>
                    </div>
                    <div class="row" ng-show="showDetail3">
                        <hr>
                        <div class="col-xs-12">
                            <p>
                                All the panels are repainted with OEM colour paint after removing all the dents and scratches.<br>
                                Parts like – side view mirror, door handles, upper and lower grill are also painted if required for the car.<br>
                                This also comes with 1 year paint warranty.
                            </p>
                            <a analytics-on analytics-event="Get Estimate Button What we do"
                               analytics-category="Home Page"
                               href="#" ui-sref="base.estimator">BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="best-work-mobile">
    <h1>Some of our works</h1>
    <div class="ba-image">
        <img src="img/beforeAfter.png" width="100%" ng-click="base.openBeforeAfterScreen()">
        <h3><span class="before-text-large">Chevrolet Beat - Dent Removal & Painting</br>
            <span class="before-text-small">Before and After</span>
        </span>
        </h3>
    </div>
    <div class="container">
        <a analytics-on analytics-event="Get Estimate Button What we do"
           analytics-category="Home Page"
           href="#" ng-click="base.openBeforeAfterScreen()">SEE ALL</a>
    </div>
</section>
<section class="workshop-section">
    <div class="container">
        <h1>India’s first network of<br>body repair workshops</h1>
        <div class="row">
            <div class="col-xs-12">
                <div id="frameWrap">
                    <md-progress-circular id="loader1" md-mode="indeterminate" md-diameter="32"></md-progress-circular>
                    <div class="youtube" data-embed="xX-fE_Ez8kg">
                        <div class="play-button"></div>
                    </div>
                </div>
            </div>
        </div>
        <a analytics-on analytics-event="Click our Workshop Location "
           analytics-category="Home Page"
           href="#" ui-sref="base.contactUs">OUR WORKSHOP LOCATIONS</a>
    </div>
</section>
<section class="customer-section">
    <div  class="container">
        <h1>Our customers speak for us</h1>
        <div class="row hide-in-mob">
            <div class="col-xs-12 col-sm-6">
                <div class="youtube" data-embed="QoCfrGcZk0A">
                    <div class="play-button"></div>
                </div>
                <div class="carousel-text">
                    <p>"Once the car came back, it came back as good as new.
                        It smelt new, it looked new - on the inside and the outside.
                        I was planning on selling it. But, I am going to keep this car for a few more years now."</p>
                    <span>- Chaitanya Adapa, VP Products, ngpay</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="youtube" data-embed="b9ybbk7Ox6g">
                    <div class="play-button"></div>
                </div>
                <div class="carousel-text">
                    <p>"Got it done, hassle free. Paid on the App.
                        No visiting workshop. No following up 5 times and
                        getting 5 ETAs - 1 ETA, 1 day, 1 time, Done!"
                    </p>
                    <span>- Preetham ,Sr. Hardware Engineer, Broadcom</span>
                </div>
            </div>
        </div>
        <div class="row hide-on-desktop">
            <div class="col-xs-12 col-sm-6" >
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="youtube" data-embed="BWYG1T-L8NI">
                            <div class="play-button"></div>
                        </div>
                        <div class="carousel-text">
                            <p>"You took the car on the day you told me it would be taken, you finished the job much ahead of time.
                                I was more than happy that you kept me updated regularly.
                                I knew it was in safe hands, now that I look at the car, I think its better than the original"</p>
                            <span>- Ramesh</span><br>
                            <span>Entreprenuer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="youtube" data-embed="QoCfrGcZk0A">
                            <div class="play-button"></div>
                        </div>
                        <div class="carousel-text">
                            <p>"Once the car came back, it came back as good as new.
                                It smelt new, it looked new - on the inside and the outside.
                                I was planning on selling it. But, I am going to keep this car for a few more years now."</p>
                            <span>- Chaitanya Adapa</span><br>
                            <span>VP Products, ngpay</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="youtube" data-embed="b9ybbk7Ox6g">
                            <div class="play-button"></div>
                        </div>
                        <div class="carousel-text">
                            <p>"Got it done, hassle free. Paid on the App.
                                No visiting workshop. No following up 5 times and
                                getting 5 ETAs - 1 ETA, 1 day, 1 time, Done!"
                            </p>
                            <span>- Preetham</span><br>
                            <span>Sr. Hardware Engineer, Broadcom</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" ui-sref="base.customerReviews"
           analytics-on analytics-event="See All"
           analytics-category="Customer Section"
           analytics-label="see all button">SEE ALL REVIEWS
        </a>
    </div>
</section>
<section class="bumper-packages">
    <div class="container">
        <h1>Bumper Packages</h1>
        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-12">
                <a ui-sref="base.package" analytics-on analytics-event="Package clicked - mobile"
                   analytics-category="Home Page">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="img/Services.svg" width="100" height="100" alt="car wash value pack - bumper.com ">
                        </div>
                        <div class="col-xs-8">
                            <p class="mobile-package-desc">
                                Get your car shining inside and out
                                with our various car beautification
                                and detailing services right at your
                                doorstep. We have custom packages for your specific needs.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <a analytics-on analytics-event="Click See All Packages Button"
           analytics-category="Home Page"
           href="#" ui-sref="base.package">SEE ALL</a>
    </div>

</section>
<md-button
        class="button-mobile"
        ng-click="$state.go('base.estimator')"
        analytics-on analytics-event="Click Get Estimate Button"
        analytics-category="Home Page"
        analytics-label="Get Estimate - bottom of Home Page">GET ESTIMATE
    <span>
        <img src="img/next_ico-mobile.svg" style="padding-left: 16px;padding-right: 6px">
    </span>
</md-button>
<section class="footer-strip1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 no-margin no-padding footer-mobile-sec1">
                <a ui-sref="base.home" style="display: inline-block"><img src="img/footer_logo.svg" height="40" width="40">
                    <span style="margin-left: 10px;">India’s first network of body repair workshops</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding download-app-footer">
                <a href ="#" ui-sref="base.contactUs" style="text-align:center;text-decoration: none; display:block;color:#fff;margin-bottom: 15px">Our workshops in Bengaluru & Delhi</a>
                <p style="text-align: center;">DOWNLOAD APP
                    <a   analytics-on
                         analytics-event="footer app link"
                         analytics-category="footer" analytics-label="android app"
                         href="https://play.google.com/store/apps/details?id=com.bumper.android&referrer=utm_source%3Dwebsite%2520%26utm_medium%3Dunknown%26utm_campaign%3Dandroid" target="_blank">
                        <img src="img/Android_footer.svg" style="margin-left:8px">
                    </a>
                    <a analytics-on
                       analytics-event="footer app link"
                       analytics-category="footer" analytics-label="ios app"
                       href="https://itunes.apple.com/app/apple-store/id1134862260?pt=118116317&ct=test_170717&mt=8"><img src="img/AppStore_footer.svg" style="margin-left:8px"></a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding">
                <div class="footer-strip-sec2">
                    <p style="border-right: solid 1px rgba(255,255,255,0.1);">+91 9108446586</p>
                    <p style="border-right: solid 1px rgba(255,255,255,0.1);padding-right:5px">support@bumper.com</p>
                    <p style="padding-left: 5px">
                        <a analytics-on analytics-event="Click- FB Button"
                           analytics-category="Footer"
                           href="https://www.facebook.com/HitBumper" target="_blank"><img src="img/footer_fb.svg"></a>
                    </p>
                    <p style="padding-left: 5px" >
                        <a analytics-on analytics-event="Click- Twitter Button"
                           analytics-category="Footer"
                           href="https://www.twitter.com/HitBumper" target="_blank">
                            <img src="img/footer_twit.svg">
                        </a>
                    </p >
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Linkedin Button"
                            analytics-category="Footer"
                            href="https://www.linkedin.com/company/bumper" target="_blank">
                            <img src="img/footer_linked.svg">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="footer-strip2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <span ><p style="border-right: solid 1px rgba(255,255,255,0.1);float: none">&copy; 2016 Bumper.com <p>
                <p style="float: none;border-right: solid 1px rgba(255,255,255,0.1);">All rights reserved</p>
                <p style="float: none" ng-click="$state.go('base.privacy')">Privacy Policy</p></span>
            </div>
        </div>
    </div>
</section>
<!--<md-fab-speed-dial analytics-on analytics-event=" FAB icon clicked"
                   analytics-category="Home Page"ng-cloak="" md-open="base.isOpen" md-direction="{$base.selectedDirection$}"
                   ng-class="base.selectedMode">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-raised md-mini"
                   analytics-on analytics-event="close FAB icon clicked"
                   analytics-category="Home Page">
            <img src="img/TalkToUs.svg" ng-if="!base.isOpen" style="margin-left:inherit;margin-bottom:inherit;width:18px">
            <i class="material-icons" style="margin-top:8px;" ng-if="base.isOpen">close</i>
        </md-button>
        <div class="chat-text" ng-if="base.isOpen">Questions? Allow us to help you!</div>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ng-click="base.requestCallback();"
                   analytics-on analytics-event="phone icon clicked"
                   analytics-category="Home Page"
                   href="#" class="md-fab md-raised md-mini"
                   style="background-color: #462b94;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top:10px;color:#fff;font-size:18px">phone</i>
        </md-button>
        <md-button ng-click="base.userQuery();"
                   analytics-on analytics-event="inquiry icon clicked"
                   analytics-category="Home Page"
                   href="#" class="md-fab md-raised md-mini"
                   style="background-color: #5436a7;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);" >
            <img src="img/SendEnquiry.svg" style="margin-top:6px;margin-bottom: inherit;left: inherit;width:10px" >
        </md-button>
        <md-button
                id="my-chat-link" href="#" class="custom_chat_button md-fab md-raised md-mini"
                analytics-on analytics-event="chat icon clicked"
                analytics-category="Home Page"
                style="background-color: #7351d1;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top:13px;color:#fff;font-size: 16px">chat_bubble</i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial> -->