<html>
<head>
    <title>Bumper Newsletter</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<table width="600px;" style="box-shadow:0px 0px 5px #BDBDBD; border:1px solid #EAEAEA" bgcolor="#dfdfdf" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr style="display:block; border-bottom:2pt solid #654999;" bgcolor="#F4F4F4" align="center" cellpadding="0" cellspacing="0">
        <td align="center" style="display:block; padding-top:20px; padding-bottom:20px;"  >
            <a href="http://bumper.com/?utm_source=bumper2&utm_medium=email&utm_campaign=ff" target="_blank"><img src="https://unbox-bumper-static.s3.amazonaws.com/02a05f2d-e0c9-44d9-9827-5060c81392e3.png"></a>
        </td>
    </tr>
    <tr bgcolor="#dfdfdf" style="display:block;" align="center">
        <td style="display:block; text-align:justify; color:#000; line-height:1.5em;font-size:1.5em; font-family: 'Arial', sans-serif; width:562px;" align="center">
            <div style="background: #F4F4F4; width: 562px;border-top-right-radius:43px;border-top-left-radius:43px;margin-top: 27px;" align="center">
                <img src="https://unbox-bumper-static.s3.amazonaws.com/ecc69e16-c183-4ca1-9f0e-cea171818924.png">
                <img src="https://unbox-bumper-static.s3.amazonaws.com/c2e74325-ecf7-45e1-9077-82a885bc6a26.gif"/>
            </div>
            <div style="background:#F4F4F4;padding:18px;padding-top:35px; padding-bottom: 10px; margin-bottom: 1px;">
                <p style="font-size:14px; font-weight:bold; font-family: 'Arial'; margin-left: 10px; ">Hello <span id='name'> Samay</p>
                <p style="font-family:Arial; font-size:14px; padding-bottom:10px; line-height: 1.6em; margin-left: 10px;margin-right: 10px;">We are here to make you fall in love with your car again. Bumper will remove all the dents and polish your car to make it look all new, just like how you loved her at the first glance.</p>
            </div>
            <div style="background:#F4F4F4;padding:18px;padding-top:10px; padding-bottom: 10px;">
                <p style="font-family:Arial; font-size:14px;line-height: 1.6em;margin-top:2 0px;margin-left: 10px; margin-right: 10px;" >Try the new Bumper! We bring you</p>
                <table style="padding-top: 10px;">
                    <tr>
                        <td style="width: 200px">
                            <table>
                                <tr>
                                    <td><img src="https://unbox-bumper-static.s3.amazonaws.com/0193bd3d-ffce-4d54-9c08-e36d1c941bda.png" style="width:51px;"></td>
                                    <td><p style="font-family:Arial; font-size:14px;line-height: 1.6em;margin:0px;text-align:left;" >Best quality at best price</p></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 200px">
                            <table>
                                <tr>
                                    <td><img src="https://unbox-bumper-static.s3.amazonaws.com/81178a4d-a67f-4811-8f75-8298e9c983ae.png" style="width:40px;height:51px;"></td>
                                    <td><p style="font-family:Arial; font-size:14px;line-height: 1.6em;margin:0px;text-align:left;" >Experts working on your car</p></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 200px">
                            <table>
                                <tr>
                                    <td><img src="https://unbox-bumper-static.s3.amazonaws.com/a504701d-ab24-4e95-b065-3a77e9972c57.png" style="width:45px;height:45px;margin-bottom:5px;"></td>
                                    <td><p style="font-family:Arial; font-size:14px;line-height: 1.6em;margin:0px;text-align:left;" >Transparency & real time updates</p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="background:#F4F4F4;padding:18px;padding-top:10px; padding-bottom: 10px;">
                <p style="font-family:Arial; font-size:14px;line-height: 1.6em;margin-left:10px;margin-right:10px;padding-top:10px;" >You are a valuable customer and we give you the privilege to be the first few to try our new offering.</p>
                <table style="padding-top: 20px; width: 100%;">
                    <tr>
                        <td align="center">
                            <img src="https://unbox-bumper-static.s3.amazonaws.com/3691bafd-e265-450f-910b-e18a72dff2e3.png" style="width:236px;height:43px;">
                        </td>
                        <td align="center">
                            <img src="https://unbox-bumper-static.s3.amazonaws.com/da672495-980f-4977-898c-dc5a74705d4d.png" style="width:236px;height:43px;">
                        </td>
                    </tr>
                </table>
            </div>
            <div style="background:#F4F4F4;padding:18px;padding-top:10px; padding-bottom: 20px;">
                <p style="font-family:Arial; font-size:14px;line-height: 1.6em;margin-left:10px;margin-right: 10px;margin-bottom: 25px" >You have <span style="color:#F05a29;" id='points'>500</span> credit points in your account. Redeem it on your next booking!</p>
                <div style="background: #F4F4F4;margin-top:14px;" align="center">
                    <a href="https://play.google.com/store/apps/details?id=com.bumper.android&referrer=utm_source%3Dbumper2%26utm_medium%3Demail%26utm_campaign%3Dff">
                        <img src="https://unbox-bumper-static.s3.amazonaws.com/83345721-b7f1-4255-8d3e-03e7a0e8cbee.png" style="width:247px;">
                    </a>
                </div>
                <div align="center" style="padding:10px;">
                    <table style="padding-top: 5px; width: 100%;">
                        <tr>
                            <td align="right" style="padding-right:10px;">
                                <a href="http://bumper.com/#bumper-user-signup-form" target="_top" style="text-decoration:none;">
                                    <p style="font-size:14px; font-weight:600; font-family: 'Arial'; margin:0px; color:#F05a29;">BOOK VIA WEBSITE</p>
                                </a>
                            </td>
                            <td align="left" style="padding-left:10px;">
                                <p style="font-size:14px; font-weight:600; font-family: 'Arial'; margin:0px; color:#F05a29;">CALL +91 9108446586</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    <tr style="display:block;background-color: #dfdfdf" align="center" cellpadding="0" cellspacing="0">
        <td align="center" style="display:block; padding-bottom:40px;"  >
            <div style="width: 562px; height:10px; border: 0px; background: #B7B5D0"></div>
        </td>
    </tr>
    <tr style="display:block; border-top:2px solid #654999;" bgcolor="#F4F4F4" cellpadding="0" cellspacing="0">
        <td align="center" style=" padding:10px;    padding-top: 0px; width: 80px"   >
            <a href="https://play.google.com/store/apps/details?id=com.bumper.android&referrer=utm_source%3Dbumper2%26utm_medium%3Demail%26utm_campaign%3Dff" target="_blank">
                <img src="https://unbox-bumper-static.s3.amazonaws.com/ae455998-dbd3-49ec-abed-2b42316d8045.png" >
            </a>
        </td>
        <td align="left" style=" padding:10px;padding-top: 5px; width: 250px"  >
            <p style="text-align:left;color:#543d96;font-family: 'Arial', sans-serif;margin-bottom:2px;font-size:10px;margin-top: 0px; padding-left: 2px;">
                Follow Us:
            </p>
            <a href="https://www.facebook.com/HitBumper" target="_blank"><img src="https://unbox-bumper-static.s3.amazonaws.com/c3d1e1f8-934f-4830-a544-7d73c7e564f8.png"></a>
            <a href="https://www.twitter.com/HitBumper" target="_blank"><img src="https://unbox-bumper-static.s3.amazonaws.com/7a2ae7e9-b8e6-4024-bccf-cda66ca98391.png"></a>
            <a href="https://goo.gl/Sv9Drb" target="_blank"><img src="https://unbox-bumper-static.s3.amazonaws.com/29686471-8a53-4e5c-8fa6-3caa98127ced.png"></a>
            <a href="https://plus.google.com/u/0/+BumperHit/posts" target="_blank"><img src="https://unbox-bumper-static.s3.amazonaws.com/e688f848-562a-4231-b9b5-b1a006f7d6c2.png"></a>
        </td>
        <td align="right" style=" padding:10px; padding-right: 20px; width: 200px"  >
            <a href="http://bumper.com/?utm_source=bumper2&utm_medium=email&utm_campaign=ff" target="_blank">
                <img src="https://unbox-bumper-static.s3.amazonaws.com/f47f2bfc-2149-4e95-b981-4f6ca1c52551.png"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>