<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Bumper Newsletter</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<table width="600px;" style="box-shadow:0px 0px 5px #BDBDBD; border:1px solid #EAEAEA; background-color: #ffffff" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr style="display:block; border-bottom:2pt solid darkgrey;background-color: #ffffff" align="center" cellpadding="0" cellspacing="0">
        <td align="center" style="display:block; padding-top:10px; padding-bottom:10px;"  >
            <a href="http://bumper.com/?utm_source=bdweb&utm_medium=email&utm_campaign=dentrepair" target="_blank"><img src="https://unbox-bumper-static.s3.amazonaws.com/8c050d2d-4ca8-41be-a006-25b3ea8a24ad.png"></a>
        </td>
    </tr>
    <tr style="display:block;" align="center">
        <td style="display:block; text-align:justify; color:#000; line-height:1.5em;font-size:1.5em; font-family: 'Arial', sans-serif;" align="center">
            <div style="background: #ffffff;border-top-right-radius:43px;border-top-left-radius:43px;margin-top: 35px;" align="center">
                <img src="https://unbox-bumper-static.s3.amazonaws.com/d15cfab6-8d79-4c7c-927d-e969f2948429.png">
                <p style="margin: 0px;font-size: 14px;font-weight: 700 ">Fix any SCRATCH@Rs. 1,699 and any DENT@Rs. 2,499 only</p>
                <img src="https://unbox-bumper-static.s3.amazonaws.com/d55b4521-c36d-41f8-ae3e-2eeab83d146b.png"/>
            </div>
            <div style="background:#ffffff;padding:18px;padding-top:35px; padding-bottom: 10px; margin-bottom: 1px;">
                <p style="text-align: center; font-size: 14px;font-weight: 200">DENT FREE, SCRATCH FREE CAR</p>
                <p style="font-family:Arial; font-size:13px; padding-bottom:10px;padding-left: 30px;padding-right: 30px; line-height: 1.6em; margin:0px;text-align:  center">
                    Bumper.com is India's first network of garages focusing exclusively on car body repairs.
                    With such a pin point focus, we are making car collision repairs very affordable and much more convenient.</p>
                <p style="font-family:Arial; font-size:13px; padding-bottom:10px;padding-left: 30px;padding-right: 30px; line-height: 1.6em; margin:0px;text-align:  center">
                    Goodbox has tied up with Bumper.com! if you are a Goodbox employee, you and your family members can avail a 10% off car repair upto Rs 500. </p>
            </div>
            <div style="border-bottom: 2pt solid #f6f6f6;padding-bottom: 20px">
                <p style="font-family:Arial; text-align:center;font-size:14px;font-weight:600;line-height: 1.6em;padding: 5px;width:50%;display:block; margin-left:auto; margin-right:auto;border: 1pt solid red; border-radius: 20px" >Use <span style="color: #47289e">BUMPBOX</span> for 10% off*</p>
                <p style="font-size: 8px; text-align: center;"><span>* Code valid till September 15, 2016</span><span style="margin-left: 20px">*Up to Rs 500.</span></p>
            </div>
             <p style="display: block;text-align:center;font-size: 14px; margin-top: 40px;">BUMPER BRINGS TO YOU</p>
            <table style="margin-bottom: 40px" width="600px" align="center">
                <tbody>
                <tr style="padding:20px">
                    <td style="width:50%;padding-left: 10px;padding-right: 10px; vertical-align: top;">
                        <p style="text-align: center;"><img src="https://unbox-bumper-static.s3.amazonaws.com/459de359-4bbe-4399-8878-f9bcda76d708.png" style="display: block;margin-left: auto; margin-right: auto;"></p>
                        <p style="text-align: center; font-size: 13px;font-weight: 600;margin-bottom: 20px">High Quality Standards</p>
                        <p style="text-align: center;font-size: 13px;font-weight: 400;">Best paint and ancilliary material,
                            state-of-the-art equipment & certified
                            technicians only</p><br>
                    </td>
                    <td style="width: 50%;padding-left: 10px;padding-right: 10px; vertical-align: top;">
                        <p style="text-align: center;">
                        <img src="https://unbox-bumper-static.s3.amazonaws.com/0eccc43a-d6e2-4631-9c01-ebc8db242d0d.png" style="display: block;margin-left: auto; margin-right: auto;">
                        </p>
                        <p style="text-align: center; font-size: 13px;font-weight: 600;margin-bottom: 20px">Fixed Price, Any Car Brand</p>
                        <p style="text-align: center;font-size: 13px;font-weight: 400">Save up to 58% over market rates</p>
                    </td>
                </tr>
                <tr style="padding:20px">
                    <td style="width:50%;padding-left: 10px;padding-right: 10px; vertical-align: top;">
                        <p style="text-align: center;">
                        <img src="https://unbox-bumper-static.s3.amazonaws.com/037f2d87-d4c2-4f68-843c-e5012a53e631.png" style="display: block;margin-left: auto; margin-right: auto;">
                        </p>
                        <p style="text-align: center; font-size: 13px;font-weight: 600;margin-bottom: 20px">Delivery Within 48 hrs
                        <p style="text-align: center;font-size: 13px;font-weight: 400;">Free pickup & drop, best
                            turn around time in the industry </p><br>
                    </td>
                    <td style="width:50%;padding-left: 10px;padding-right: 10px; vertical-align: top;">
                        <p style="text-align: center;">
                        <img src="https://unbox-bumper-static.s3.amazonaws.com/6eeb4673-312c-4662-a4ec-32fa9b1c6e53.png" style="display: block;margin-left: auto; margin-right: auto;">
                        </p>
                        <p style="text-align: center; font-size: 13px;font-weight: 600;margin-bottom: 20px">1-Year Paint Warranty</p>
                        <p style="text-align: center;font-size: 13px;font-weight: 400;">Against fading, pinholes, paint
                            peel-off and bubbles</p><br>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr style="border-top:1pt solid #4a148c; display:block;background-color: #a19bd3;" align="center" cellpadding="0" cellspacing="0">
        <td style="padding: 20px;text-align:center;font-family:Arial;font-size: 14px;color: #ffffff;font-weight: 600">
            <a href="https://play.google.com/store/apps/details?id=com.bumper.android&referrer=utm_source%3Dbdapp%26utm_medium%3Demail%26utm_campaign%3Ddentrepair" style="color: #ffffff;text-decoration: none"> BOOK ON APP</a>
        </td>
        <td style="padding: 20px;text-align:center;font-family:Arial;font-size: 14px;color: #ffffff;font-weight: 600">
            <a href="http://bumper.com/?utm_source=bdweb&utm_medium=email&utm_campaign=dentrepair" style="color: #ffffff;text-decoration: none">BOOK VIA WEBSITE</a>
        </td>
        <td style="padding: 20px;text-align:center;font-family:Arial;font-size: 14px;color: #ffffff;font-weight: 600">
            <a href="tel:+91 9108446586" style="color: #ffffff;text-decoration: none">CALL +91-9108446586</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>