<table width="600px;" style="box-shadow:0px 0px 5px #BDBDBD; border:1px solid #EAEAEA" bgcolor="#f4f4f4" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
	<tr style="display:block">
        <td align="center" style="display:block">
			<a href="http://www.bumper.com" target="_blank"><img src="http://api.bumper.com/static/mailer-media/head.jpg"></a>
		</td>
	</tr>
	<tr bgcolor="#f4f4f4" style="display:block;" align="center">
		<td style="display:block; text-align:justify; color:#000; line-height:1.5em;font-size:1em; font-family: 'Ubuntu', sans-serif; width:680px" align="center">
			<div style="background:#fff;padding:40px; pading-top:10px;">
				<p style="font-size:20px; font-weight:600; font-family: 'Ubuntu'; ">Hello <span style="color:#1FC659">*|NAME|*</span>,</p>
				<p style="font-family:Ubuntu; font-size:16px; padding-bottom:10px;">You have *|CREDITS|* credits in your account. Use them to avail any of the services - car service, body repair or car wash.</p>
                <p style="font-family:Ubuntu; font-size:12px; padding-bottom:10px;">Note: Your credits will expire on 31st March 2016.</p>
                <p style="font-family:Ubuntu; font-size:16px; padding-bottom:10px;">Thanks<br>Team Bumper
				<br><a href="http://www.bumper.com">
					<img src="http://api.bumper.com/static/mailer-media/bumper.png" style="width:130px;">
				</a></p>
				<p style="text-align:center;padding-top:40px;">
				<a href="www.facebook.com/HitBumper" target="_blank"><img src="http://api.bumper.com/static/mailer-media/fb.png" style="width:40px;height:40px; padding:0px 10px 0px 10px"></a>
				<a href="www.twitter.com/HitBumper" target="_blank"><img src="http://api.bumper.com/static/mailer-media/tt.png" style="width:40px;height:40px; padding:0px 10px 0px 10px"></a>
				<a href=" https://goo.gl/Sv9Drb" target="_blank"><img src="http://api.bumper.com/static/mailer-media/li.png" style="width:40px;height:40px; padding:0px 10px 0px 10px"></a></p>
				<p style="text-align:center;color:#BDBDBD;font-family: 'Ununtu', sans-serif;margin-bottom:20px;">
					&copy; COPYRIGHT BUMPER 2015
				</p>
			</div>	<br>
		</td>
	</tr>
</tbody>
</table>