<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Drivojoy mail</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style>
        .main-image{
            width:550px;
            display:block;
            margin-left:auto;
            margin-right:auto;
            color: hsla(258, 82%, 28%, 0.73);
        }
        @media only screen and (max-width: 550px){
            .main-image{
                width:320px;
                display:block;
                margin-left:auto;
                margin-right:auto;

            }
        }
    </style>
</head>
<body>
<table width="550px;" style="border:1px solid #EAEAEA; background-color: #ffffff" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr style="background-color:#fff;padding:10px" align="center" cellpadding="0" cellspacing="0">
        <a href="http://drivojoy.com">
            <img src="https://unbox-bumper-static.s3.amazonaws.com/9cf21a0e-b878-412d-9079-90ba6168166f.png" alt="mailer image" class="main-image">
        </a>
        <td style="padding-top:15px;padding-bottom:15px;text-align: left;padding-left: 30px;color: hsla(258, 82%, 28%, 0.73);">
            <p style="font-family: sans-serif;font-weight: 500;margin-bottom: 10px;">VISIT US AT</p>
            <a href="http://drivojoy.com"><img src="https://unbox-bumper-static.s3.amazonaws.com/ad4dca28-7d3b-440a-9c82-f79023a5bb45.png"></a>
        </td>
        <td style="float:right;margin-right: 30px; text-align: left">
            <p style="font-family: sans-serif; color:hsla(258, 82%, 28%, 0.73);margin-bottom: 10px; ">OR DOWNLOAD THE APP</p>
            <a href="https://play.google.com/store/apps/details?id=com.driveojoy.driveojoyandroid"><img src="https://unbox-bumper-static.s3.amazonaws.com/9a5bcdf6-1187-4d81-a8e1-ce00ebc67bb3.png"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>