<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Drivojoy mail</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style>
        .main-image{
            width:550px;
            display:block;
            margin-left:auto;
            margin-right:auto;
            color: hsla(258, 82%, 28%, 0.73);
        }
        @media only screen and (max-width: 550px){
            .main-image{
                width:320px;
                display:block;
                margin-left:auto;
                margin-right:auto;
            }
        }
    </style>
</head>
<body>
<table width="550px;" style="border:1px solid #EAEAEA; background-color: #ffffff" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr style="background-color:#fff;padding:10px" align="center" cellpadding="0" cellspacing="0">
        <a href="https://bumper.com/?utm_source=drivejoymailer&utm_medium=unknown&utm_campaign=unknown">
            <img src="https://unbox-bumper-static.s3.amazonaws.com/17c8818d-4641-4627-b7bb-36984b37e602.png" alt="mailer image" class="main-image">
        </a>
        <td style="padding-top:15px;padding-bottom:15px;text-align: left;padding-left: 30px;color: hsla(258, 82%, 28%, 0.73);">
            <p style="font-family: sans-serif;font-weight: 500;margin-bottom: 10px;">VISIT US AT</p>
            <a href="https://bumper.com/?utm_source=drivejoymailer&utm_medium=unknown&utm_campaign=unknown"><img src="https://unbox-bumper-static.s3.amazonaws.com/a6088ae6-2eb7-4375-bd42-5ec25dcbc754.png"></a>
        </td>
        <td style="float:right;margin-right: 30px; text-align: left">
            <p style="font-family: sans-serif; color:hsla(258, 82%, 28%, 0.73);margin-bottom: 10px; ">OR DOWNLOAD THE APP</p>
            <a href="http://bit.ly/hitbumper"><img src="https://unbox-bumper-static.s3.amazonaws.com/9a5bcdf6-1187-4d81-a8e1-ce00ebc67bb3.png"></a>
            <a href="https://itunes.apple.com/in/app/bumper-car-body-repair-wash/id1134862260?mt=8/?utm_source=mailers&utm_medium=unknown&utm_campaign=unknown"><img src="https://unbox-bumper-static.s3.amazonaws.com/7eb15d70-4618-49f5-be64-cea95d50bb3b.png"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>