<img src="https://unbox-bumper-static.s3.amazonaws.com/4b57b162-df99-444e-9c61-56b650fe4f59.svg">
<p>2nd Floor, No. 11, 80 Ft Road,<br>
    Koramangala, Bengaluru - 560034<br>
    M: 910 844 6586
</p>
<p>TIN Number - 29291378853
    Pan card Number - AABCU6599C
    Service Tax Number - AABCU6599CSD001
</p>
<hr>
<div>
    <p>Booking Id</p>
    <p>2345</p>
    <p>Invoice date</p>
    <p>09/03/2017</p>
    <p>Invoice Number</p>
    <p>54320</p>
</div>
<div>
    <p>Total amount</p>
    <p>7499</p>
    <p>Bill to</p>
    <p>
        Dean Winchester, 071 Boehm Ford
        Bengaluru - 560102
    </p>
</div>
<table>
    <thead>
    <td>Package</td>
    <td>Quantity</td>
    <td>Part cost</td>
    <td>Service cost</td>
    <td>Amount</td>
    </thead>
    <tbody>
    <tr>
        <td>Right front door - removal of dents and scratches </td>
        <td>1</td>
        <td>0</td>
        <td>2000</td>
        <td>4599</td>
    </tr>
    <tr>
        <td>Right front door - removal of dents and scratches </td>
        <td>1</td>
        <td>0</td>
        <td>2000</td>
        <td>4599</td>
    </tr>
    <tr>
        <td>Right front door - removal of dents and scratches </td>
        <td>1</td>
        <td>0</td>
        <td>2000</td>
        <td>4599</td>
    </tr>
    <tr>
        <td>Subtotal</td>
        <td></td>
        <td></td>
        <td></td>
        <td>7899</td>
    </tr>
    <tr>
        <td>Discount</td>
        <td></td>
        <td></td>
        <td></td>
        <td>7899</td>
    </tr>
    <tr>
        <td>Advance payment</td>
        <td></td>
        <td></td>
        <td></td>
        <td>7899</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td>7899</td>
    </tr>
    </tfoot>
</table>
<p>
    Service cost breakup
</p>
<p>Labour charges @70% of  5,100 	- 3570</p>
<p>Material charges @30% of 5,100 	- 1530</p>
<p>Service tax @ 14%				- 462.61</p>
<p>Swachh Bharat Cess @0.5%		- 16.52</p>
<p>Krishi Kalyan Cess @0.5%			- 16.52</p>
<p>KVat @14.5%						- 502.56</p>