<section style="margin-top: 40px">
    <div class="container-fluid">
        <p class="contact-heading">We love cars that look good. We love to make cars look good.
        <p class="contact-heading">We are Bumper.</p>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <img src="img/about_illo.jpg" class="about-image" alt="about us image">
                <p class="contact-text" style="margin-top: 40px">Our motto at Bumper  is to make quality car care affordable. That is why we are building our own network of garages, which exclusively focus on car body repairs and car beautification.</p>
                <p class="contact-text">So, if you bump your car - you don't need to worry anymore about the huge monetary impact and inconvenience that follows. Just go to Bumper.com or download our app, fill in the exact details. get an instant estimate and schedule a pick up. After this, your car is our responsibility. You can even track progress at any time through our app.</p>
                <p class="contact-text"> We also provide various car beautification and detailing services right at your doorstep. We have tried to build custom packages for your specific needs - after a long trip, periodic detailed cleaning, new car protection, family hygiene, special occasions. etc.</p>
                <p class="contact-heading" style="margin-top: 40px"> We are one helluva team</p>
                <p class="contact-text">We are artist, entrepreneurs, marketeers, engineers, intellects, inspirers, motivators, tech
                    freaks, coders, hackers, musicians, tree huggers, drivers, car fans, car fanatics, car
                    lovers, car seekers, car babas, yogis, party goers, party crashers, party poopers,
                    socialites, social mediaites, denim lovers, full sleevers, mechanics and every single
                    talent who knows just to bump away your car woes, so fret not!</p>
                <p class="contact-heading" style="margin-top: 40px">Join the joyride</p>
                <p class="contact-text" style="margin-bottom: 40px;">
                    Take the joyride with us. Write to <a href="email:support@bumper.com">support@bumper.com</a>
                </p>
            </div>
            <div class="col-lg-3"></div>

        </div>
    </div>
</section>
<!-- <md-fab-speed-dial  analytics-on analytics-event="FAB icon clicked"
                    analytics-category="About Page"
                    ng-if="!base.isDeviceMobile" ng-cloak="" md-open="base.isOpen" md-direction="{$base.selectedDirection$}"
                    ng-class="base.selectedMode">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-raised"
                   analytics-on analytics-event="close FAB icon clicked"
                   analytics-category="About Page">
            <img src="img/TalkToUs.svg" ng-if="!base.isOpen" style="margin-left:inherit;margin-bottom:inherit">
            <i class="material-icons" style="margin-top: 18px;" ng-if="base.isOpen">close</i>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ng-click="base.requestCallback();"
                   analytics-on analytics-event="phone icon clicked"
                   analytics-category="About Page"
                   href="#" class="md-fab md-raised"
                   style="background-color: #462b94;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">phone</i>
        </md-button>
        <md-button ng-click="base.userQuery();"
                   analytics-on analytics-event="inquiry icon clicked"
                   analytics-category="About Page"
                   href="#" class="md-fab md-raised"
                   style="background-color: #5436a7;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);" >
            <img src="img/SendEnquiry.svg">
        </md-button>
        <md-button
                id="my-chat-link" href="#" class="custom_chat_button md-fab md-raised "
                analytics-on analytics-event="chat icon clicked"
                analytics-category="About Page"
                style="background-color: #7351d1;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">chat_bubble</i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
<md-fab-speed-dial analytics-on analytics-event="FAB icon clicked"
                   analytics-category="About Us Page"
                   ng-if="base.isDeviceMobile" ng-cloak="" md-open="base.isOpen" md-direction="{$base.selectedDirection$}"
                   ng-class="base.selectedMode">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-raised"
                   analytics-on analytics-event="close FAB icon clicked"
                   analytics-category="About Page">
            <img src="img/TalkToUs.svg" ng-if="!base.isOpen" style="margin-left:inherit;margin-bottom:inherit">
            <i class="material-icons" style="margin-top: 18px;" ng-if="base.isOpen">close</i>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button analytics-on analytics-event="phone icon clicked"
                   analytics-category="About Page"
                   ng-click="base.requestCallback();"
                   href="#" class="md-fab md-raised"
                   style="background-color: #462b94;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">phone</i>
        </md-button>
        <md-button analytics-on analytics-event="inquiry icon clicked"
                   analytics-category="About Page"
                   ng-click="base.userQuery();"
                   href="#" class="md-fab md-raised"
                   style="background-color: #5436a7;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);" >
            <img src="img/SendEnquiry.svg">
        </md-button>
        <md-button
                id="my-chat-link" href="#" class="custom_chat_button md-fab md-raised "
                analytics-on analytics-event="chat icon clicked"
                analytics-category="About Page"
                style="background-color: #7351d1;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">chat_bubble</i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
-->
<<section class="footer-strip1">
    <div style="padding-left: 25px;padding-right: 25px">
        <a href ="#" ui-sref="base.contactUs" style="text-align:center;text-decoration: none; display:block;color:#fff;margin-bottom: 15px">Our workshops in Bengaluru & Delhi</a>
        <div class="row">
            <div class="col-xs-12 col-sm-4 no-margin no-padding footer-mobile-sec1">
                <a ui-sref="base.home" style="display: inline-block"><img class="lazy" data-original="img/footer_logo.svg" src="img/sample-loading.png" height="40" width="40">
                    <span style="margin-left: 10px;">India’s first network of body repair workshops</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding download-app-footer">
                <p style="text-align: center;">DOWNLOAD APP
                    <a   analytics-on
                         analytics-event="footer app link"
                         analytics-category="footer" analytics-label="android app"
                         href="https://play.google.com/store/apps/details?id=com.bumper.android&referrer=utm_source%3Dwebsite%2520%26utm_medium%3Dunknown%26utm_campaign%3Dandroid" target="_blank">
                        <img src="img/Android_footer.svg" style="margin-left:8px">
                    </a>
                    <a analytics-on
                       analytics-event="footer app link"
                       analytics-category="footer" analytics-label="ios app"
                       href="https://itunes.apple.com/app/apple-store/id1134862260?pt=118116317&ct=test_170717&mt=8"><img src="img/AppStore_footer.svg" style="margin-left:8px"></a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding">
                <div class="footer-strip-sec2">
                    <p style="border-right: solid 1px rgba(255,255,255,0.1);">+91 9108446586</p>
                    <a style="border-right: solid 1px rgba(255,255,255,0.1);padding-right:5px;color: #fff;text-decoration: none" href="mailto:support@bumper.com" target="_top">support@bumper.com</a>
                    <p style="padding-left: 5px">
                        <a analytics-on analytics-event="Click- FB Button"
                           analytics-category="Footer"
                           href="https://www.facebook.com/HitBumper" target="_blank"><img src="img/footer_fb.svg"></a>
                    </p>
                    <p style="padding-left: 5px" >
                        <a analytics-on analytics-event="Click- Twitter Button"
                           analytics-category="Footer"
                           href="https://www.twitter.com/HitBumper" target="_blank">
                            <img src="img/footer_twit.svg">
                        </a>
                    </p >
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Linkedin Button"
                            analytics-category="Footer"
                            href="https://www.linkedin.com/company/bumper" target="_blank">
                            <img src="img/footer_linked.svg">
                        </a>
                    </p>
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Youtube button"
                            analytics-category="Footer"
                            href="https://www.youtube.com/channel/UCAd8t8QH0Ft7QK8P1e4zUiQ?&ab_channel=Bumper" target="_blank">
                            <img src="img/youtube.svg" width="22px">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-strip2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <span ><p style="border-right: solid 1px rgba(255,255,255,0.1);float: none">&copy; 2016 Bumper.com <p>
                <p style="float: none">All rights reserved</p></span>
            </div>
        </div>
    </div>
</section>

