<section style="padding:25px">
<h1 style=" opacity: 0.8;font-family: Roboto;font-size: 16px;text-align: center;">Choose your current City</h1>
    <div style=" display: block;padding: 15px;text-align: center;"><i class="material-icons" style="display:inline;font-size:14px" ng-if="ccCtrl.selectedCity.id==1">done</i><a style="display:inline;text-align:center;padding:10px;text-decoration:none" ng-click="ccCtrl.setBangalore()">BENGALURU</a></div>
   <div style=" display: block;padding: 15px;text-align: center;"><i class="material-icons" style="display:inline;font-size:14px" ng-if="ccCtrl.selectedCity.id==2">done</i><a style="display:inline;text-align:center;padding:10px;text-decoration:none" ng-click="ccCtrl.setDelhi()">GURUGRAM</a></div>
</section>