<section style="margin-top: 40px">
    <div class="container-fluid">
        <div class="row" style="padding-left: 30px;padding-right: 30px">
            <div class="col-lg-12">
                <p class="privacy-text" style="margin-top: 20px"><strong>Why a privacy policy?</strong></p>
                <p class="privacy-text">Bumper is committed to respecting the trust that our customers place in us. This is precisely what our privacy policy hopes to achieve. That is, to ensure the highest standard for transactions and customer information policy and make it secure.
                    By visiting our website & App you agree to be bound by the terms and conditions of this privacy policy.<br/>We are entitled to collecting certain information about you during your use of Bumper.com,
                    Herein we would like you to consider that our privacy policy is subject to change at anytime without notice.</p>
                <p class="privacy-text" style="margin-top: 40px"><strong>Your consent</strong></p>
                <p class="privacy-text">By using Bumper.com you agree that you are aware of our privacy policy and your approval of the same. This also implies that you are aware that our policy may be altered in due course and without notice.</p>
                <p class="privacy-text" style="margin-top: 40px"><strong>Information Collected</strong></p>
                <p class="privacy-text">While you are visiting Bumper.com website & App, we are entitled to the collection of various details about you, such as your usage, your geo-location and the pages you visit on our site & App. We do this through the use of cookies.
                    <br/> If you have provided data about yourself, such as your name, phone number and email id, during your usage, Bumper.com is entitled to use these details and/or share it with Third parties in order to provide and/or administer our services to help us understand the user behaviour, to monitor website performance, optimise advertisements and measure advertising performance.</p>
                <p class="privacy-text" style="margin-top: 40px"><strong>Sharing of Personal Information</strong></p>
                <p class="privacy-text">By agreeing to the terms and conditions of this privacy policy you also give us the right to share the above mentioned data with our affiliated companies. By affiliated companies we imply all those who are included in our promotional activities, insurance companies, payment processing companies and non-financial companies such as automotive repair facilities. This sharing enables us to give you superior service, make a wider range of products available and operate our business more effectively. We DO NOT share information with non-affiliated third parties and we reserve limits and restrictions set by law with respect to the sharing of certain kind of information with our affiliates. Your privacy is important to us.</p>
                <p class="privacy-text" style="margin-top: 40px"><strong>Security Precautions</strong></p>
                <p class="privacy-text" style="margin-bottom: 40px">Your personal data is stored on Bumper.com. They have been secured both physically and electronically and cannot be accessed by any third party, except affiliated ones, without our permission. We value your security immensely and make the best of our efforts to safeguard your personal data.</p>
            </div>
        </div>
    </div>
</section>
<!-- <md-fab-speed-dial  analytics-on analytics-event="FAB icon clicked"
                    analytics-category="About Page"
                    ng-if="!base.isDeviceMobile" ng-cloak="" md-open="base.isOpen" md-direction="{$base.selectedDirection$}"
                    ng-class="base.selectedMode">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-raised"
                   analytics-on analytics-event="close FAB icon clicked"
                   analytics-category="About Page">
            <img src="img/TalkToUs.svg" ng-if="!base.isOpen" style="margin-left:inherit;margin-bottom:inherit">
            <i class="material-icons" style="margin-top: 18px;" ng-if="base.isOpen">close</i>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ng-click="base.requestCallback();"
                   analytics-on analytics-event="phone icon clicked"
                   analytics-category="About Page"
                   href="#" class="md-fab md-raised"
                   style="background-color: #462b94;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">phone</i>
        </md-button>
        <md-button ng-click="base.userQuery();"
                   analytics-on analytics-event="inquiry icon clicked"
                   analytics-category="About Page"
                   href="#" class="md-fab md-raised"
                   style="background-color: #5436a7;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);" >
            <img src="img/SendEnquiry.svg">
        </md-button>
        <md-button
                id="my-chat-link" href="#" class="custom_chat_button md-fab md-raised "
                analytics-on analytics-event="chat icon clicked"
                analytics-category="About Page"
                style="background-color: #7351d1;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">chat_bubble</i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
<md-fab-speed-dial analytics-on analytics-event="FAB icon clicked"
                   analytics-category="About Us Page"
                   ng-if="base.isDeviceMobile" ng-cloak="" md-open="base.isOpen" md-direction="{$base.selectedDirection$}"
                   ng-class="base.selectedMode">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-raised"
                   analytics-on analytics-event="close FAB icon clicked"
                   analytics-category="About Page">
            <img src="img/TalkToUs.svg" ng-if="!base.isOpen" style="margin-left:inherit;margin-bottom:inherit">
            <i class="material-icons" style="margin-top: 18px;" ng-if="base.isOpen">close</i>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button analytics-on analytics-event="phone icon clicked"
                   analytics-category="About Page"
                   ng-click="base.requestCallback();"
                   href="#" class="md-fab md-raised"
                   style="background-color: #462b94;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">phone</i>
        </md-button>
        <md-button analytics-on analytics-event="inquiry icon clicked"
                   analytics-category="About Page"
                   ng-click="base.userQuery();"
                   href="#" class="md-fab md-raised"
                   style="background-color: #5436a7;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);" >
            <img src="img/SendEnquiry.svg">
        </md-button>
        <md-button
                id="my-chat-link" href="#" class="custom_chat_button md-fab md-raised "
                analytics-on analytics-event="chat icon clicked"
                analytics-category="About Page"
                style="background-color: #7351d1;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);">
            <i class="material-icons" style="margin-top: 18px;color:#fff">chat_bubble</i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
-->
<section class="footer-strip1">
    <div style="padding-left: 25px;padding-right: 25px">
        <a href ="#" ui-sref="base.contactUs" style="text-align:center;text-decoration: none; display:block;color:#fff;margin-bottom: 15px">Our workshops in Bengaluru & Delhi</a>
        <div class="row">
            <div class="col-xs-12 col-sm-4 no-margin no-padding footer-mobile-sec1">
                <a ui-sref="base.home" style="display: inline-block"><img class="lazy" data-original="img/footer_logo.svg" src="img/sample-loading.png" height="40" width="40">
                    <span style="margin-left: 10px;">India’s first network of body repair workshops</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding download-app-footer">
                <p style="text-align: center;">DOWNLOAD APP
                    <a   analytics-on
                         analytics-event="footer app link"
                         analytics-category="footer" analytics-label="android app"
                         href="https://play.google.com/store/apps/details?id=com.bumper.android&referrer=utm_source%3Dwebsite%2520%26utm_medium%3Dunknown%26utm_campaign%3Dandroid" target="_blank">
                        <img src="img/Android_footer.svg" style="margin-left:8px">
                    </a>
                    <a analytics-on
                       analytics-event="footer app link"
                       analytics-category="footer" analytics-label="ios app"
                       href="https://itunes.apple.com/app/apple-store/id1134862260?pt=118116317&ct=test_170717&mt=8"><img src="img/AppStore_footer.svg" style="margin-left:8px"></a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding">
                <div class="footer-strip-sec2">
                    <p style="border-right: solid 1px rgba(255,255,255,0.1);">+91 9108446586</p>
                    <a style="border-right: solid 1px rgba(255,255,255,0.1);padding-right:5px;color: #fff;text-decoration: none" href="mailto:support@bumper.com" target="_top">support@bumper.com</a>
                    <p style="padding-left: 5px">
                        <a analytics-on analytics-event="Click- FB Button"
                           analytics-category="Footer"
                           href="https://www.facebook.com/HitBumper" target="_blank"><img src="img/footer_fb.svg"></a>
                    </p>
                    <p style="padding-left: 5px" >
                        <a analytics-on analytics-event="Click- Twitter Button"
                           analytics-category="Footer"
                           href="https://www.twitter.com/HitBumper" target="_blank">
                            <img src="img/footer_twit.svg">
                        </a>
                    </p >
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Linkedin Button"
                            analytics-category="Footer"
                            href="https://www.linkedin.com/company/bumper" target="_blank">
                            <img src="img/footer_linked.svg">
                        </a>
                    </p>
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Youtube button"
                            analytics-category="Footer"
                            href="https://www.youtube.com/channel/UCAd8t8QH0Ft7QK8P1e4zUiQ?&ab_channel=Bumper" target="_blank">
                            <img src="img/youtube.svg" width="22px">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-strip2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <span ><p style="border-right: solid 1px rgba(255,255,255,0.1);float: none">&copy; 2016 Bumper.com <p>
                <p style="float: none">All rights reserved</p></span>
            </div>
        </div>
    </div>
</section>

