<section class="whats-next-section">
    <div class="container">
        <div class="row">
            <h1>You must know, Its important!</h1>
        </div>
        <ul uk-accordion="multiple: true" id="acc-top">

            <li class="uk-open">
                <h3 class="uk-accordion-title accordian-title-whats-next">
                    <span ng-if="!checklistCtrl.hideBlock">Booking is scheduled.</span>
                    <span ng-if="checklistCtrl.hideBlock">Car is picked up.</span>
                    What’s next?</h3>
                <div class="uk-accordion-content">
                    <p><span ng-if="!checklistCtrl.hideBlock">
                        <strong>Expect a call:</strong> Our customer care team will call you to help you assist with our process .<br><br>
                        <strong>Receive crew member information: </strong>On the day of pickup, you will get a notification in the app with crew member’s name and phone number who will pick up the car<br><br>
                        <strong>Crew will arrive:</strong> Crew member will arrive at your location in the scheduled slot.<br>
                        1. He will create a job card, check inventory and the working condition of electrical items.<br><br>
                        2. Any personal belongings like Sunglasses, USBs, stereo etc. will be handed over to you.<br><br>
                        3. He will hand over original copy of the job card to you.<br><br>
                        4. He will take photos of the car from all the angles, interior and exterior before leaving with your car.<br><br>
                        5. He will take a copy of RC, insurance and PUC from you..<br><br>
                        6. You will also receive email confirmation immediately with link to inventory in your car , working condition of the electrical items and car photos. <br><br>
                        7. Expect the entire process to take somewhere between 30-45 minutes.. <br><br>
                        </span>
                        <strong>Inspection: </strong>The car will be inspected by our executive at the workshop.<br>
                        1. Any change in scope of work, if required, from what was initially requested would be informed to you after inspection. <br><br>
                        2. We will start work on your car only after we receive your approval on the scope of work and delivery time.<br><br>
                        <strong>Download app to map progress: </strong>You will receive updates on the app at the end of the day everyday at 8 PM. Also, you can check app to know the current status and chat with us. <br><br>
                        <strong>Day of Delivery: </strong> <br>
                        1. Once the car is ready, we do a thorough quality check on the work and the car in general.<br><br>
                        2. You will receive invoice over the email.<br><br>
                        3. We will call you for drop time and location or you can select yourself in the app.<br><br>
                        4. You will get notification in the app with crew member’s name and phone number who will bring the car to you.<br><br>
                        5. <strong>Payment: </strong>Pay online via app, website, link in SMS/email, card swiping machine and cash.<br><br>
                        6. Once the payment is done,  car will be delivered to you.<br><br>
                    </p>
                </div>
            </li>
            <li >
                <h3 class="uk-accordion-title accordian-title-whats-next">Your car, your control</h3>
                <div class="uk-accordion-content">
                    <p>
                        1. <strong>We are here for you: </strong> Call us +91 9108446586, email us support@bumper.com or chat with us <br><br>
                        2. <strong>Changed your mind? No problem: </strong>If you don’t approve of the scope of work, pricing or delivery time, don’t worry. We will happily drop your car back to you immediately. <br><br>
                        3. <strong>Not upto your standards? Then we rework:</strong> If the work done is not up to the promised quality then we do the work again & again till you are happy.<br><br>
                        4. Our painting job has <strong>1-year paint warranty</strong> with it.<br><br>

                    </p>
                </div>
            </li>
            <li>
                <h3 class="uk-accordion-title accordian-title-whats-next">Pricing guidelines</h3>
                <div class="uk-accordion-content">
                    <p>
                        1. All Repair and Replacement work include painting.<br><br>
                        2. Prices mentioned in the booking are final. Prices will change only if scope of work is changed and you approve of those changes.<br><br>
                        3. Part price will depend on the year of make and model of the car as mentioned in the RC Book.<br><br>
                        4. Pick up & drop is absolutely free.<br><br>
                        5. There are no hidden charges.<br>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="footer-strip1">
    <div style="padding-left: 25px;padding-right: 25px">
        <a href ="#" ui-sref="base.contactUs" style="text-align:center;text-decoration: none; display:block;color:#fff;margin-bottom: 15px">Our workshops in Bengaluru & Delhi</a>
        <div class="row">
            <div class="col-xs-12 col-sm-4 no-margin no-padding footer-mobile-sec1">
                <a ui-sref="base.home" style="display: inline-block"><img class="lazy" data-original="img/footer_logo.svg" src="img/sample-loading.png" height="40" width="40">
                    <span style="margin-left: 10px;">India’s first network of body repair workshops</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding download-app-footer">
                <p style="text-align: center;">DOWNLOAD APP
                    <a   analytics-on
                         analytics-event="footer app link"
                         analytics-category="footer" analytics-label="android app"
                         href="https://play.google.com/store/apps/details?id=com.bumper.android&referrer=utm_source%3Dwebsite%2520%26utm_medium%3Dunknown%26utm_campaign%3Dandroid" target="_blank">
                        <img src="img/Android_footer.svg" style="margin-left:8px">
                    </a>
                    <a analytics-on
                       analytics-event="footer app link"
                       analytics-category="footer" analytics-label="ios app"
                       href="https://itunes.apple.com/app/apple-store/id1134862260?pt=118116317&ct=test_170717&mt=8"><img src="img/AppStore_footer.svg" style="margin-left:8px"></a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 no-margin no-padding">
                <div class="footer-strip-sec2">
                    <p style="border-right: solid 1px rgba(255,255,255,0.1);">+91 9108446586</p>
                    <a style="border-right: solid 1px rgba(255,255,255,0.1);padding-right:5px;color: #fff;text-decoration: none" href="mailto:support@bumper.com" target="_top">support@bumper.com</a>
                    <p style="padding-left: 5px">
                        <a analytics-on analytics-event="Click- FB Button"
                           analytics-category="Footer"
                           href="https://www.facebook.com/HitBumper" target="_blank"><img src="img/footer_fb.svg"></a>
                    </p>
                    <p style="padding-left: 5px" >
                        <a analytics-on analytics-event="Click- Twitter Button"
                           analytics-category="Footer"
                           href="https://www.twitter.com/HitBumper" target="_blank">
                            <img src="img/footer_twit.svg">
                        </a>
                    </p >
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Linkedin Button"
                            analytics-category="Footer"
                            href="https://www.linkedin.com/company/bumper" target="_blank">
                            <img src="img/footer_linked.svg">
                        </a>
                    </p>
                    <p style="padding-left: 5px">
                        <a  analytics-on analytics-event="Click- Youtube button"
                            analytics-category="Footer"
                            href="https://www.youtube.com/channel/UCAd8t8QH0Ft7QK8P1e4zUiQ?&ab_channel=Bumper" target="_blank">
                            <img src="img/youtube.svg" width="22px">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-strip2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <span ><p style="border-right: solid 1px rgba(255,255,255,0.1);float: none">&copy; 2016 Bumper.com <p>
                <p style="float: none">All rights reserved</p></span>
            </div>
        </div>
    </div>
</section>
